<nz-card [nzTitle]='title' [nzSize]="'small'" [style.border-color]="transofrmation?.color" class="transformation-card">
  <div [hidden]='(expanded$ | async)'>
  <!-- <div> -->
    <ng-template #paramsHost></ng-template>

    
  </div>
  
  <div class="button-spacing flex">
    <!-- <button class="ghost" nzShape='circle' nz-button nz-dropdown [nzDropdownMenu]="menu"><i nz-icon nzType="up"></i></button> -->
  </div>
</nz-card>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <!-- <button class="ghost" *ngIf='(expanded$ | async)' nzShape='circle' nz-button (click)='showCompAsModal()'><i nz-icon nzType="tool"></i></button> -->
    <!-- <button class="ghost" nzShape='circle' nz-button (click)='onDelete()'><i nz-icon nzType="delete"></i></button> -->
    <li nz-menu-item><button nz-tooltip nzTooltipTitle='order up' class="ghost" nzShape='circle' nz-button (click)='onChangeOrder(-1)'><i nz-icon nzType="up"></i></button></li>
    <li nz-menu-item><button nz-tooltip nzTooltipTitle='order down' class="ghost" nzShape='circle' nz-button (click)='onChangeOrder(+1)'><i nz-icon nzType="down"></i></button></li>
    <li nz-menu-item><button nz-tooltip nzTooltipTitle='delete' class="ghost" nzShape='circle' nz-button (click)='onDelete()'><i nz-icon nzType="delete"></i></button></li>
    
  </ul>
</nz-dropdown-menu>

<ng-template #title>
  <div class="flex between">
    <div class="flex start" nz-tooltip [nzTooltipTitle]='transofrmation.description'>
      <nz-badge [nzCount]="index + 1" [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"></nz-badge>
      <div class="ml-2">{{transofrmation?.label}}</div>
    </div>
    
    <div>
      <app-node-status [valid]='((status$ | async) || [])[0]' [messages]='((status$ | async) || [])[1]'></app-node-status>
      <button class="ghost" nzShape='circle' nz-button nz-dropdown [nzDropdownMenu]="menu"><i nz-icon nzType="ellipsis" nzTheme="outline"></i></button>
    </div>

  </div>
</ng-template>
