
<div class="DBconnectors-container p-1">
  
    <nz-page-header class="site-page-header" nzTitle="Template List">
            <!-- <ng-template #tooltip>
                <button nzShape="circle" nzTooltipTitle="" nzTooltipPlacement="top" nz-button nz-tooltip><i nz-icon nzType="question"></i></button>
            </ng-template> -->
    </nz-page-header>
  
    <div nz-row class='ma-b'>
        <div nz-col [nzSpan]='18'>
          <button nz-button class='ghost' (click)="extract_data()">
            <i nz-icon nzType="plus"></i>New Template
          </button>
          <button nz-button class='ghost' (click)="reload()"><i nz-icon nzType="reload"></i></button>
        </div>
    </div>
  
    <div class="mb-4 flext bg-white rounded-0 m-0 p-0">
        <nz-list class="list_impo" [nzDataSource]="templates$ | async " [nzRenderItem]="item"  [nzLoading]="loading" [nzItemLayout]="'vertical'">
            <ng-template #item let-item>
                <nz-list-item class="BD-item" [nzActions]="[editAction]">
                    <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription" >
                        <ng-template #nzTitle>
                            <div nz-typography class="font-weight-bold">Name : <span nz-typography style="font-weight: 600;">{{item.name | uppercase }}</span></div>
                        </ng-template>
                        <ng-template #nzDescription>
                            <nz-tag [nzColor]="'#108ee9'"  (click)="viewtemplate(item.name , item.template)" role="button">Detail</nz-tag>
                        </ng-template>

                    </nz-list-item-meta>
                </nz-list-item>
                <ng-template #editAction>
                    <button nz-button class="ghost" (click)="edittemplate(item.name ,item.template)" >
                      <i nz-icon nzType="edit" class="btns"></i>
                    </button>
                </ng-template>
            </ng-template>
        </nz-list>
    </div> 
  
  </div>

  <!-- <ng-template #moreAction>
    <button nz-button class="ghost"  (click)="viewtemplate(item.name , item.template)">
      <i nz-icon nzType="delete" class="btns"></i>
  </button>
</ng-template> -->