<div class="content" style="height: 62vh;">
  <nz-spin *ngIf='!imported' class="flex-box" [nzSpinning]="importing">
    <nz-upload nzType="drag" [nzAction]="url" [nzShowUploadList]="false"
      [nzAccept]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
      (nzChange)="handleChange($event)">
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to import</p>
      <p class="ant-upload-hint">
        Once selected the file will be automatically uploaded into our server.
      </p>
    </nz-upload>
  </nz-spin>

  <ng-container *ngIf='imported'>
    <h4>{{data.filename}}</h4>

    <p>Select a sheet</p>
    <nz-spin [nzSpinning]="importing">

      <!-- RANGE SELECTION -->
      <div class="button-spacing">
        <button nz-button (click)="openConfig()"><i nz-icon nzType="setting"></i>Select Range</button>
        <!-- <button nz-button (click)="resetRange()"><i nz-icon nzType="redo"></i>Reset Range</button> -->
      </div>

      <!-- SELECTED RANGES -->
      <div class="mt-2 flex stretch wrap button-spacing w-100">
        <button nz-button (click)='onSheetSelected(e)' *ngFor="let e of data.sheets"
          [ngClass]='{"active": data.sheetId == e.sheetId}' class="flex-1" style="min-height: 100px;">
          <div class="flex column">
            <i style="font-size: 34px;" nz-icon nzType='copy' nzTheme='twotone'></i>
            <i>{{e.sheetName}}</i>
          </div>
        </button>
      </div>

      <ng-container *ngIf='data.headers'>
        <nz-alert class="mt-2" nzType="success" nzMessage="Dataset Ready" nzShowIcon></nz-alert>
        <!-- <app-header-preview class="mt-2" [data]='data'></app-header-preview> -->
      </ng-container>

    </nz-spin>
  </ng-container>

  <app-data-grid *ngIf="previewGrid && isDatasetReady" (gridReady)="gridReady$.next($event)" [style]="style"
    [paginationPageSize]='size$ | async' [rangeSelection]='true' [columnDefs]="headers$ | async"></app-data-grid>



  <div class="button-spacing mt-2">
    <button nz-button nzType='primary' (click)='save()'>Save</button>
    <button nz-button (click)='cancel()'>Cancel</button>
    <button nz-button (click)='removeData()'>Remove</button>
  </div>

</div>
