<nz-collapse nzAccordion>
  <nz-collapse-panel *ngFor="let mapping of mappings" [nzHeader]="nzTitle" [nzActive]="mappingId === mapping.id">
    <ng-template #nzTitle>
      <i *ngIf="mapping.id == mappingId" class="text-success mr-2" nz-icon nzType="check-circle" nzTheme="outline"></i>
      <span [class.text-success]="mapping.id == mappingId">{{mapping.name || 'Undefined'}}</span>
    </ng-template>

    <!-- Versions -->
    <nz-list [nzDataSource]="mapping.versions" nzBordered [nzRenderItem]="defaultItem">
      <ng-template #defaultItem let-item let-index>
        <nz-list-item>
          <nz-list-item-meta [nzTitle]="nzVersion">
          </nz-list-item-meta>
        </nz-list-item>
        <ng-template #nzVersion>
          <div class="flex between">
            <span nz-typography>
              <span [class.text-success]="item.id == selectedVersion">Version {{item.version}}</span>
              <span class="description pl-3">{{item.description}}</span>
            </span>
            <div>
              <button nz-tooltip nzTooltipTitle='Apply' nzShape='circle' class="ghost" nz-button
                (click)='selectedVersion = item.id;apply(mapping)'>
                <i nz-icon nzType="play-square"></i>
              </button>
              <button nz-tooltip nzTooltipTitle='Rename' nzShape='circle' class="ghost" nz-button  disabled>
                <i nz-icon nzType="edit"></i>
              </button>
              <button nzShape='circle' class="ghost" nz-button [disabled]="item.id == selectedVersion"
                nz-popconfirm
                nzPopconfirmTitle="If you delete the first version, the original mapping will be deleted and hence, the rest of its versions."
                nzPopconfirmPlacement="left" (nzOnConfirm)="deleteMapping(item.id)">
                <i nz-icon nzType="delete"></i>
              </button>
            </div>
          </div>
        </ng-template>
      </ng-template>
    </nz-list>
  </nz-collapse-panel>
</nz-collapse>
