:host nz-collapse {
  max-height: 60vh;
  min-width: 60vw;
  overflow: auto;
}

.cursor {
  cursor: pointer;
}

.disable-click {
  pointer-events: none;
}

.description {
  font-size: 12px;
  color: darkgrey;
  width: 40vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
