<form nz-form [nzLayout]="'horizontal'">

  <nz-form-item>
    <nz-form-label [nzSm]="8">Group Keys</nz-form-label>
    <nz-form-control [nzSm]="16">
      <app-columns-input [nzSize]='size' [nodeIndex]='index' mode='multiple' [(ngModel)]='data.groupKeys'
        name='groupKeys' (change)='onDataChanged()'></app-columns-input>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="8">Columns</nz-form-label>
    <nz-form-control [nzSm]="16">
      <app-columns-input [nzSize]='size' [nodeIndex]='index' mode='multiple' [(ngModel)]='data.columns' name='columns'
        (change)='onDataChanged()'></app-columns-input>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="8"><i nz-icon nzType='function'></i></nz-form-label>
    <nz-form-control [nzSm]="16">
      <nz-select *ngIf='!data.custom' [nzSize]='size' name='agg' [(ngModel)]='data.agg'
        (ngModelChange)='onDataChanged()'>
        <nz-option *ngFor='let f of aggFunctions' [nzLabel]='f.label' [nzValue]='f.value'></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>