.main-container {
  padding: 0 24px 24px 24px;
  height: 100%;
}

.flex-box {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.flex-child {
  flex: 1 1 auto;
}

.selectStyleSheet {
  width: 40%;
}

:host th,td {
  white-space: nowrap;
}

:host nz-divider {
  /* margin: 0 !important; */
  /* margin: 0 0 24px 0 !important; */
}

:host ::ng-deep .ant-divider-inner-text {
  color: #28a745!important;
}
