<div class="main-container flex-box">
  <!-- Header -->
  <div class="importHeader" nz-row>
    <div nz-col nzSpan="18">
      <nz-select [(ngModel)]="selectedSheet" class="selectStyleSheet" (ngModelChange)="selectSheet($event)">
        <nz-option *ngFor="let sheet of (fileMetaData$|async)?.sheets; let i = index" [nzValue]="i" [nzLabel]="sheet"></nz-option>
      </nz-select>
    </div>
    <div nz-col nzSpan="6" class="text-right">
      <button nz-button nzType="primary" class="mr-4" nzSize="small" [nzGhost]="true" nzShape="circle" nz-tooltip
        nzTooltipTitle="Previous Step" nzTooltipPlacement="left" (click)="goToImport()"><i nz-icon
          nzType="caret-left"></i></button>
      <button nz-button nzType="primary" class="mr-4" nzSize="small" [nzGhost]="true" nzShape="circle" nz-tooltip
        nzTooltipTitle="Next Step" nzTooltipPlacement="left" (click)="goToMapping()"><i nz-icon
          nzType="caret-right"></i></button>
      <button nz-button nzType="danger" nzSize="small" [nzGhost]="true" nzShape="circle" nz-tooltip
        nzTooltipTitle="Reset" nzTooltipPlacement="left" (click)="cancelUpload()"><i nz-icon
          nzType="close"></i></button>
    </div>
  </div>

  <!-- Grid -->
  <div class="flex-child mt-4" *ngIf="!(loading$ | async)">
    <app-grid [columnDefs]="headers$ | async" [rowData]="data$ | async" [totalRecords]="totalRecords$ | async"></app-grid>
  </div>
</div>
