<div class="main-container flex-box">
  <!-- Header -->
  <div class="importHeader" nz-row>
    <div nz-col nzSpan="18">
      <div class="flex start">
        <div>
          <button class="mr-2" nzGhost nzShape='circle' nz-button nzType='primary'><i nz-icon
              nzType="copy"></i></button>
          <nz-select style="width: 200px;" [(ngModel)]="selectedSheet" class="selectStyleSheet ghost"
            (ngModelChange)="selectSheet($event)">
            <nz-option *ngFor="let sheet of (fileMetaData$|async)?.sheets; let i = index" [nzValue]="i"
              [nzLabel]="sheet"></nz-option>
          </nz-select>
        </div>
        <app-active-transformation-input></app-active-transformation-input>
      </div>
    </div>


    <div nz-col nzSpan="6" class="text-right button-spacing">
      <div class="flex end">
        <button nz-button nzType="default" nzSize="middle" nzShape="round" nz-tooltip nzTooltipTitle="Previous Step"
          nzTooltipPlacement="left" (click)="goToImport()"><i nz-icon nzType="caret-left"></i> Previous</button>
        <button nz-button nzType="default" nzSize="middle" nzShape="round" nz-tooltip nzTooltipTitle="Next Step"
          nzTooltipPlacement="left" (click)="goToMapping()">Next<i nz-icon nzType="caret-right"></i></button>
        <nz-divider nzType='vertical'></nz-divider>
        <button nz-button nzSize="middle" nzShape="circle" nz-tooltip nzTooltipTitle="Reset" nzTooltipPlacement="left"
          (click)="cancelUpload()">
          <i nz-icon nzType="close"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mt-3"></div>
  <!-- Grid -->
  <ng-container [ngSwitch]='previewMode$ | async'>
    <app-source-preview *ngSwitchCase='"SOURCE"'></app-source-preview>
    <app-target-preview *ngSwitchCase='"TARGET"'></app-target-preview>
  </ng-container>


</div>
