<div>
  <h6 nz-typography>{{edit? "Edit": "Add"}}</h6>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Code</nz-form-label>
    <nz-form-control [nzSpan]="14"><input [(ngModel)]='data.code' nz-input /></nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">Cat</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select ngModel="PER" [(ngModel)]='data.cat'>
        <nz-option nzValue="MED" nzLabel="Medical"></nz-option>
        <nz-option nzValue="PER" nzLabel="Personal"></nz-option>
        <nz-option nzValue="COM" nzLabel="Commercial"></nz-option>
        <nz-option nzValue="GEO" nzLabel="Geographic"></nz-option>
        <nz-option nzValue="OTH" nzLabel="Uncategorized"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" >Keywords</nz-form-label>
    <nz-form-control [nzSpan]="14">
        <nz-select nzMode="tags" [(ngModel)]="data.keywords" style="width: 100%;">
        </nz-select>
    </nz-form-control>
  </nz-form-item>
</div>


<div *nzModalFooter>
  <div class="button-spacing flex end">
    <button nz-button (click)='close()'>Cancel</button>
    <button nz-button nzType='primary' [nzLoading]='loading' (click)='onSave()'>{{edit? "Update": "Create"}}</button>
  </div>
</div>
