
<div nz-paragraph>
    <i nz-icon nzType="clock-circle" nzTheme="outline"></i> <i> Created On</i>
    {{data?.created_on | date: 'dd/MM/yyyy HH:mm'}}
    <nz-divider nzType="vertical"></nz-divider>
    <i nz-icon nzType="edit" nzTheme="outline"></i> <i> Modified On</i>
    {{data?.modified_on | date: 'dd/MM/yyyy HH:mm'}}
    <!-- <nz-divider nzType="vertical"></nz-divider>
    <i>Status </i>
    <nz-tag [nzColor]="'green'">ACTIVE</nz-tag> -->
</div>

<p nz-paragraph class="dom-description">
    {{data?.description}}
    </p>
