<nz-card class="paddless">
    <!-- SWITCH STATUS -->
    <div class="p-2 flex">
        <div style="width: 500px;">
            <nz-progress [nzPercent]="50" nzSize="small" nzStatus="active"></nz-progress>
        </div>
        <button nzType='primary' nz-button><i nz-icon nzType="caret-right" nzTheme="outline"></i> Run</button>
    </div>
    <!-- <div class="flex button-spacing p-2">
      <button class="ghost" nz-button><i nz-icon nzType="pause" nzTheme="outline"></i></button>
      <button class="ghost" nz-button><i nz-icon nzType='bug'></i></button>
    </div> -->
  </nz-card>