<nz-page-header class="site-page-header">
    <!--breadcrumb-->
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>{{data.id}}</nz-breadcrumb-item>
      
    </nz-breadcrumb>

    <!--avatar-->
    <nz-avatar nz-page-header-avatar [nzText]="getAvatar(data)" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>


    <!--title-->
    <nz-page-header-title>{{data.name}}</nz-page-header-title>

    <!--subtitle-->
    <!-- <nz-page-header-subtitle>{{data.description}}</nz-page-header-subtitle> -->

    <!--tags-->
    <!-- <nz-page-header-tags>
      <nz-tag [nzColor]="'green'">ACTIVE</nz-tag>
    </nz-page-header-tags> -->

    <!--extra-->
    <nz-page-header-extra>

      <button (click)='edit.emit(data)' nz-button style="border: none; padding: 0">
        <i nz-icon nzType="edit" nzTheme="outline" ></i>
      </button>
      <nz-divider nzType="vertical"></nz-divider>

      <button (click)='delete.emit(data)' nz-button style="border: none; padding: 0">
        <i nz-icon nzType="delete" nzTheme="outline" ></i>
      </button>
      


      <!-- <button nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu" style="border: none; padding: 0">
        <i nz-icon nzType="ellipsis" nzTheme="outline" ></i>
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li (click)='collections.emit(data)' nz-menu-item>Collections</li>
        </ul>
      </nz-dropdown-menu> -->
    </nz-page-header-extra>

    <!--content-->
    <nz-page-header-content>
        
      <div nz-paragraph>
        <i nz-icon nzType="clock-circle" nzTheme="outline"></i> <i> Created On</i> {{data.created_on | date: 'dd/MM/yyyy HH:mm'}}
        <nz-divider nzType="vertical"></nz-divider>
        <i nz-icon nzType="edit" nzTheme="outline"></i> <i> Modified On</i> {{data.modified_on | date: 'dd/MM/yyyy HH:mm'}}
        <nz-divider nzType="vertical"></nz-divider>
        <i>Status </i> <nz-tag [nzColor]="'green'">ACTIVE</nz-tag>
      </div>
      
        
      <div nz-row>
        <div class="content">

          <p nz-paragraph class="dom-description">
            {{data.description}}
          </p>
          
          <div class="content-link">
            <button (click)='collections.emit(data)' nz-button nzType="default"><i nz-icon nzType="block" nzTheme="outline"></i>Collections</button>
            <!-- <a (click)='edit.emit(data)'> <img src="https://gw.alipayobjects.com/zos/rmsportal/MjEImQtenlyueSmVEfUD.svg" alt="start" />Edit </a> -->
            <!-- <a (click)='collections.emit(data)'> <img src="https://gw.alipayobjects.com/zos/rmsportal/NbuDUAuBlIApFuDvWiND.svg" alt="info" />Collections </a> -->
            <!-- <a (click)='delete.emit(data)'> <img src="https://gw.alipayobjects.com/zos/rmsportal/ohOEPSYdDTNnyMbGuyLb.svg" alt="doc" />Delete </a> -->
          </div>

        </div>
        <!-- <div class="content-image">
          <img src="https://gw.alipayobjects.com/zos/antfincdn/K%24NnlsB%26hz/pageHeader.svg" alt="content" />
        </div> -->
      </div>
    </nz-page-header-content>
  </nz-page-header>
