<form nz-form [nzLayout]="form_orientation">
  <nz-form-item>

    <nz-form-label [nzSm]="6">Sheets</nz-form-label>
    <nz-form-control [nzSm]="18">
      <nz-select nzMode="multiple" [(ngModel)]='data.source_sheets' nzPlaceHolder='None' name='sheet'
        (ngModelChange)='onDataSourceSelected($event)'>
        <nz-option *ngFor='let s of datasources$ | async' nzValue="{{s.id}}" nzLabel="{{s.file_name}}">
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6">On</nz-form-label>
    <nz-form-control [nzSm]="18">
      <input nz-input [nzSize]='size' [(ngModel)]='data.join_on' (change)='onDataChanged()' name='join_on' />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6">How</nz-form-label>
    <nz-form-control [nzSm]="18">
      <nz-radio-group [ngModelOptions]=" {standalone: true}" [(ngModel)]="data.join_how"
        (ngModelChange)='onDataChanged()'>
        <label nz-radio nzValue="left">Left</label>
        <label nz-radio nzValue="right">Right</label>
        <label nz-radio nzValue="inner">Inner</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
</form>
