<div class="bg-primary flex column" style="height: 100vh; background: linear-gradient(10deg, rgb(240 242 245) 0%, rgb(255 255 255/ 0%) 0%);">
  <i nz-icon nzType="experiment" class="cube-icon"></i>
  
  <div></div>
  <div>
    <div class='flex column mb-4' >
      <img class="m-2" src="../../../../assets/images/logo.png" alt="logo">
      <div class="flex">
        <h2 nz-typography class="text-white font-weight-light m-0 mr-1" >C&C</h2>
        <h2 nz-typography class="text-white font-weight-light m-0" style="opacity: 0.6;">Datafactory</h2>
      </div>
    </div>
  
    <nz-card class="p-4 shadow mb-2 rounded w-100">
  
      <h3 nz-typography class="mb-0">Hi {{username}}</h3>
      <p nz-typography class="pb-2">You have requested a password reset</p>

      <button nzSize='large' nz-button nzType='primary' nzBlock>Reset Password</button>
  
    </nz-card>
  </div>
  
</div>