.login-footer{
    width: 100%;
    background: #f0f2f5;
    /* border-radius: 20px 20px 0 0 ; */
    font-size: 16px;
}

.login-footer-icon{
    line-height: 0;
    margin: 12px 18px;
}

.cube-icon{
    position: fixed;
    color: #ffffff;
    opacity: 0.1;
    font-size: 100vh;
    z-index: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -40%;
    right: 0;
    line-height: 0;
}