<div class="editor-overview">
    <span class="overview-label">Total Lines <span class="overview-value">100</span></span>
    <span class="overview-label">Lines in error <span class="overview-value">10</span></span>
    <span class="overview-label">Warnings <span class="overview-value">32</span></span>
    <span class="overview-label">Errors <span class="overview-value">2323</span></span>
</div>


<style>
    .editor-overview{
        font-size: smaller;
        padding: 4px 12px;
    }

    .editor-overview .overview-label{
        margin-right: 24px;
    }

    .overview-value{
        font-weight: 600;
    }

</style>