<div class="editor-overview">

    <i class="overview-icon" nz-icon nzType="book" nzTheme="twotone"></i>
    
    <ng-container *ngIf='worksheet_meta$|async; let meta; else nometa'>
        <span class='overview-item'><span class="overview-label">Flagged Lines </span><nz-tag [nzColor]="'red'" class="overview-value">{{meta.flagged_lines}}</nz-tag></span>
        <span class='overview-item'><span class="overview-label">Flagged Cells </span><nz-tag [nzColor]="'red'" class="overview-value">{{meta.errors}}</nz-tag></span>
    </ng-container>
    
    <nz-divider nzType='vertical'></nz-divider>

    <i  class="overview-icon" nz-icon nzType='file'  nzTheme="twotone"></i>
    <ng-container *ngIf='worksheet_meta$|async; let meta; else nometa'>
        <span class='overview-item'><span class="overview-label">Flagged Lines </span><nz-tag [nzColor]="'red'" class="overview-value">{{meta.flagged_lines}}</nz-tag></span>
        <span class='overview-item'><span class="overview-label">Flagged Cells </span><nz-tag [nzColor]="'red'" class="overview-value">{{meta.errors}}</nz-tag></span>
    </ng-container>
    
</div>

<ng-template #nometa>
    <span class='overview-item'><span class="overview-label">Nothing to show</span></span>
</ng-template>