<div style="padding-top: 20px;">
  <form nz-form [nzLayout]="'horizontal'">
    <nz-form-item>
      <nz-form-label [nzSm]="6">Destination</nz-form-label>
      <nz-form-control [nzSm]="18">
        <input nz-input [nzSize]='size' [(ngModel)]='data.destination' (change)='onDataChanged()' name='destination' />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6">Sheet</nz-form-label>
      <nz-form-control [nzSm]="18">
        <nz-select [(ngModel)]='data.sheet_destination' (ngModelChange)='onDataChanged()' name='sheet'>
          <nz-option *ngFor='let s of sheets$ | async'
                      nzValue="{{s.id}}" nzLabel="{{s.file_name}}">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6">Formula</nz-form-label>
      <nz-form-control [nzSm]="18">
        <input type="text" disabled [nzSize]='size' nz-input placeholder="=" [value]="getFormulaText()" />
      </nz-form-control>
    </nz-form-item>

  </form>
  <button nz-button nzBlock (click)='openFormula()' nz-tooltip nzTooltipTitle='Open Editor'><i nz-icon
      nzType='calculator'></i></button>
</div>
