<form nz-form [nzLayout]="'horizontal'">
 
    <nz-form-item>
        <nz-form-label [nzSm]="8">Column</nz-form-label>
        <nz-form-control [nzSm]="16">
            <app-columns-input [nodeIndex]='index' [(ngModel)]='data.column' name='column' (change)='onDataChanged()'></app-columns-input>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8">Operation</nz-form-label>
        <nz-form-control [nzSm]="16">
            <nz-select [(ngModel)]='data.op' name='op' (ngModelChange)='onDataChanged()' nzPlaceHolder='None'>
                <nz-option *ngFor='let o of operations' [nzValue]='o' [nzLabel]='o'></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8">Condition</nz-form-label>
        <nz-form-control [nzSm]="16">
          <input nz-input [(ngModel)]='data.condition' (change)='onDataChanged()' name='condition'/>
        </nz-form-control>
      </nz-form-item>
  
</form>
