
<div class="flex between">
  <div>
    <i>Add a Transformer</i>
    <span *ngFor='let t of tarnsformations' >
      <nz-divider nzType="vertical"></nz-divider>
      <button nzShape='circle' nz-button nzType='default' (click)='addTransformation(t)' nz-tooltip [nzTooltipTitle]="t.label">
        <i nz-icon [nzType]="t.icon || 'sliders'" [nzRotate]='t.icon_rotation || 0'></i>
      </button>
    </span>
  </div>

  <div class="flex">

      <input style="width: 200px;" nz-input placeholder="Pipe Name" [(ngModel)]="name" />
      <nz-divider nzType='vertical'></nz-divider>
      <div *ngIf='(active$ | async); let pipe' class="flex">
        <div><i nz-icon nzType="clock-circle"></i> {{pipe.created_on | date: 'dd/mm/yyyy HH:MM'}}</div>
        <nz-divider nzType='vertical'></nz-divider>
        <div><i nz-icon nzType="edit"></i> {{pipe.modified_on | date: 'dd/mm/yyyy HH:MM'}}</div>
      </div>
      
      <nz-tag *ngIf='!saved' [nzColor]="'red'">Not Saved</nz-tag>

  </div>
  
  
</div>

<div class="trans-container">
    <i nz-icon nzType="api" nzTheme="outline"  class="trans-arrow trans-start-arrow" [ngClass]="{'trans-arrow-circle': (pipe$ | async)?.length == 0 }"></i>
    <div class="trans-block" *ngFor='let node of pipe$ | async; let i = index' >
      <i *ngIf='i!=0' class="trans-arrow" nz-icon nzType="caret-right"></i>
      <app-transformation-node [index]=i [params]='node'></app-transformation-node>
    </div>
</div>

<div class="pipe-buttons flex between">
  <div>
    <button nzShape='circle' nz-button (click)='onFlipCollapse()' nz-tooltip nzTooltipTitle="Expand/Collapse"><i nz-icon nzType="fullscreen"></i></button>
  </div>

  <div>
    <button nzShape='circle' nz-button (click)='onReset()' nz-tooltip nzTooltipTitle="reset"><i nz-icon nzType="reload"></i></button>

    <ng-container *ngIf='saved'>
      <nz-divider nzType="vertical"></nz-divider>
      <button nzShape='circle' nz-button nz-tooltip nzTooltipTitle="Delete" (click)='onDelete()'><i nz-icon nzType="delete"></i></button>
    </ng-container>

    <nz-divider nzType="vertical"></nz-divider>
    <button nzShape='circle' nz-button nz-tooltip nzTooltipTitle="Load"><i nz-icon nzType="download"></i></button>
    <nz-divider nzType="vertical"></nz-divider>
    <button nzShape='circle' nz-button nz-tooltip nzTooltipTitle="Save" (click)='onSave()'><i nz-icon nzType="save"></i></button>
  </div>
  
  <div>
    <button nzShape='round' nz-button nz-tooltip nzTooltipTitle="Apply" nzType='primary' style="min-width: 70px;"><i nz-icon nzType="caret-right"></i> Apply</button>
  </div>
</div>