<nz-table #basicTable [nzData]="monitors">
  <thead>
    <tr>
      <th>Id</th>
      <th>Start Date</th>
      <th>Execution Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.run_id}}</td>
      <td>{{data.start_date | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>{{data.execution_date | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>{{data.end_date | date: 'dd/MM/yyyy HH:mm'}}</td>
      <td>
        <ng-container [ngSwitch]="data.state">
          <nz-badge nzStatus="success" *ngSwitchCase="'success'"></nz-badge>
          <nz-badge nzStatus="error" *ngSwitchCase="'failed'"></nz-badge>
          <nz-badge nzStatus="processing" *ngSwitchCase="'running'"></nz-badge>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>