<div class="flex-1 flex stretch column h-100">
  <nz-page-header class="site-page-header" nzTitle="Domains" nzSubtitle="Manage Domains"></nz-page-header>

  <div class="flex wrap between mb-2">
    <div class="button-spacing">
      <button nz-button [disabled]="!(profile$ | async).admin" class='ghost' (click)='openConfig(null)'><i nz-icon
          nzType="plus"></i>Add Domain</button>
      <button nz-button class="ghost" nzType="default" (click)="load_data()"><i nz-icon nzType="reload"></i></button>
    </div>

    <app-display-changer></app-display-changer>

    <div>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" [(ngModel)]='searchTerm' nz-input placeholder="Filter Domains" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>

  </div>

  <div class="flex-1 flex-scroll bg-grey">
    <div nz-row nzType='flex' nzAlign='stretch'>
      <div nz-col class="gutter-row" [nzSpan]="(s.displayList$ | async)?24:8"
        *ngFor="let d of domains$ | async | filter :'name': searchTerm">

        <app-domain-card [class]='(s.displayList$ | async)?"":"h-100"' [loading]='loading' [data]='d'
          (delete)='showDeleteConfirm(d)' (edit)='openConfig(d)'
          (collections)="navigate(['/data/datacapture/admin/domains', d.id, 'collection'])"></app-domain-card>

        <!-- </nz-card> -->
      </div>

    </div>
  </div>


</div>


<!-- TEMPLATES -->
