<!-- <nz-switch [(ngModel)]="loading"></nz-switch> -->
<!-- <nz-card style="width: 300px;margin-top: 16px" [nzLoading]="loading">
  <nz-card-meta [nzAvatar]="avatarTemplate" nzTitle="Card title" nzDescription="This is the description"></nz-card-meta>
</nz-card> -->

<div nz-row>

  <div nz-col [nzSpan]='18'>

    <button nz-button nzType="primary" (click)='openConfig(null)'><i nz-icon nzType="plus"></i>Add Domain</button>

    <button nz-button nzType="default" (click)="load_data()"><i nz-icon nzType="reload"></i></button>
    <button (click)='displayList=false' nz-button nzType="default"><i nz-icon nzType="appstore"></i></button>
    <button (click)='displayList=true' nz-button nzType="default"><i nz-icon nzType="unordered-list"></i></button>

  </div>

  <div nz-col [nzSpan]='6'>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="Filter Domains" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>
<!-- <button nz-button nzType="primary"><i nz-icon nzType="download"></i></button> -->

<div nz-row [nzGutter]="14">
  <div nz-col class="gutter-row" [nzSpan]="(displayList)?24:8" *ngFor="let d of domains$ | async">

    <nz-card class="inner-box super-domain-card">

      <app-domain-card 
        [data]='d'
        (delete)='showDeleteConfirm(d)'
        (edit)='openConfig(d)'
        (categories)="navigate(['/datacapture/admin/domains', d.id, 'category'])"
      ></app-domain-card>
      
    </nz-card>
  </div>

</div>


<!-- TEMPLATES -->
