<div *ngIf="!key">
  <h6 nz-typography>Add Word</h6>
  <nz-form-item>
    <nz-form-label [nzSpan]="7">Code</nz-form-label>
    <nz-form-control [nzSpan]="14"><input [(ngModel)]='data.code' nz-input /></nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">Cat</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <nz-select ngModel="PER" [(ngModel)]='data.cat'>
        <nz-option nzValue="PER" nzLabel="PER"></nz-option>
        <nz-option nzValue="RGPD" nzLabel="RGPD"></nz-option>
        <nz-option nzValue="MED" nzLabel="MEDICAL"></nz-option>
        <nz-option nzValue="ECOM" nzLabel="ECOMMERCE"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>



  <h6 nz-typography>Keywords</h6>
  <div *ngFor="let p of data.keywords ; let i=index">

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Key {{i+1}}</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-input-group nzCompact>
          <input style="width: 50%;" nzPlaceholder='Keyword' [(ngModel)]='p.keyword' nz-input/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>

  <button nz-button nzType='dashed' nzBlock (click)='data.keywords.push({})'><i nz-icon nzType='plus'></i>Add
    keywords</button>

</div>

<div *ngIf="key">
    <h6 nz-typography>Keyword</h6>
    <input style="width: 100%;" nzPlaceholder='Keyword' [(ngModel)]='data["keywords"][index].keyword' nz-input/>
</div>

<div *nzModalFooter>
  <div class="button-spacing flex end">
    <button nz-button (click)='close()'>Cancel</button>
    <button nz-button nzType='primary' [nzLoading]='loading' (click)='onSave()'>Save</button>
  </div>
</div>
