<div class="ref-data-container">
  <div class="flex column fill stretch">
    <div>
      <nz-page-header class="site-page-header" [nzTitle]="userTitle" nzSubtitle="Manage Compositions"></nz-page-header>
      <ng-template #userTitle><i class="mr-2" nz-icon nzType="font-size" nzTheme="outline"></i>Rsu Composition</ng-template>
    </div>

    <div class="site-page-header-ghost-wrapper">
      <nz-page-header nzBordered nzBackIcon (nzBack)="onBack()" [nzGhost]="false">
        <nz-page-header-extra>
          <div class="flex between">
            <div class="pr-2">
              <nz-upload [nzAction]="uploadURI" [nzHeaders]="{ authorization: 'authorization-text' }"
                (nzChange)="handleChange($event)">
                <button nz-button nzType='info'><i nz-icon nzType="file-excel" nzTheme="outline"></i>Import</button>
              </nz-upload>
            </div>
          </div>
        </nz-page-header-extra>
      </nz-page-header>

    </div>
    <nz-card class="flex fill" nzSize='small' nzTitle='Reference Data'>

    <div class="h-100" style="position: relative;">
      <nz-table nzBordered #basicTable nzShowSizeChanger nsAutoHeightTable='20'
      [nzData]='(rsuData$ | async)' nzSize='small'
        [nzLoading]='loading'>
        <thead>
          <tr>
            <th *ngFor='let s of (rsuSources$ | async)'>{{s}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of basicTable.data">
            <td *ngFor='let target of rsuTargets'>{{(row.composition || {})[target]}}</td>
           </tr>
        </tbody>
      </nz-table>
    </div>

    </nz-card>


  </div>


</div>







