<div class="ref-data-container p-1">
  <div class="flex column stretch">

    <div>
      <nz-page-header class="site-page-header" [nzTitle]="userTitle" nzSubtitle="Manage Compositions">
      </nz-page-header>
      <ng-template #userTitle><i class="mr-2" nz-icon nzType="font-size" nzTheme="outline"></i>Rsu Composition
      </ng-template>
    </div>

    <nz-tabset>
      <!--       <nz-tab nzTitle="Rsu Composition">
        <div class="site-page-header-ghost-wrapper">
          <nz-page-header nzBordered [nzGhost]="false">
            <nz-page-header-extra>
              <div class="flex between">
                <div class="pr-2">
                  <nz-upload *ngIf="(rsuData$ | async)?.length == 0" [nzAction]="uploadURI"
                    [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)"
                    [nzShowUploadList]="false">
                    <button nz-button nzType='info'><i nz-icon nzType="file-excel" nzTheme="outline"></i>Import</button>
                  </nz-upload>
                </div>
                <div class="pr-2">
                  <nz-upload *ngIf="(rsuData$ | async)?.length != 0" [nzAction]="updateURI"
                    [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)"
                    [nzShowUploadList]="false">
                    <button nz-button nzType='info'><i nz-icon nzType="file-excel" nzTheme="outline"></i>Update</button>
                  </nz-upload>
                </div>
              </div>
            </nz-page-header-extra>
          </nz-page-header>

        </div>

        <nz-card nzSize='small' nzTitle='Reference Data'>
          <div class="h-100" style="position: relative;">
            <nz-table nzBordered #basicTable nzShowSizeChanger nsAutoHeightTable='20' [nzData]='(rsuData$ | async)'
              nzSize='small' [nzLoading]='loading'>
              <thead>
                <tr>
                  <th *ngFor='let s of (rsuSources$ | async)'>{{s}}</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of basicTable.data">
                  <td *ngFor='let target of rsuTargets'>{{(row.composition || {})[target]}}</td>
                  <td>
                    <div class="button-spacing ghost">
                      <button nzShape='circle' nz-button (click)='onEdit(row)'><i nz-icon nzType="edit"></i></button>
                      <nz-divider nzType='vertical'></nz-divider>
                      <button nzShape='circle' nz-button (click)='onDelete(row)'><i nz-icon
                          nzType="delete"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </nz-card>
      </nz-tab> -->

      <nz-tab nzTitle="AI Test">
        <div class='tab-1-content'>
          <nz-steps [nzCurrent]="current">
            <nz-step nzTitle="Information générale"></nz-step>
            <nz-step nzTitle="Information de consommation"></nz-step>
            <nz-step nzTitle="Les dépenses"></nz-step>
            <!-- <nz-step nzTitle="Modèle"></nz-step> -->
            <nz-step nzTitle="Résultat"></nz-step>
          </nz-steps>

          <div class="steps-content">
            <form nz-form [formGroup]="validateForm" class="rsu-form">

              <div *ngIf="current == 0">

                <!-- <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="revenu">Revenu</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="revenu" id="revenu" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item> -->


                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Milieu">Milieu de résidence </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="Milieu">
                      <nz-option [nzValue]="1" nzLabel="Urbain"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Rural"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Region_Libelle_ar">Région</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="Region_Libelle_ar">
                      <nz-option [nzValue]="1" nzLabel="Dakhla-Oued Ed Dahab"></nz-option>
                      <nz-option [nzValue]="2" nzLabel="Casablanca-Settat"></nz-option>
                      <nz-option [nzValue]="3" nzLabel="Rabat-Salé-Kénitra"></nz-option>
                      <nz-option [nzValue]="4" nzLabel="Oriental"></nz-option>
                      <nz-option [nzValue]="5" nzLabel="Laâyoune-Sakia El Hamra"></nz-option>
                      <nz-option [nzValue]="6" nzLabel="Béni Mellal-Khénifra"></nz-option>
                      <nz-option [nzValue]="7" nzLabel="Drâa-Tafilalet"></nz-option>
                      <nz-option [nzValue]="8" nzLabel="Souss-Massa"></nz-option>
                      <nz-option [nzValue]="9" nzLabel="Tanger-Tétouan-Al Hoceïma"></nz-option>
                      <nz-option [nzValue]="10" nzLabel="Fès-Meknès"></nz-option>
                      <nz-option [nzValue]="11" nzLabel="Guelmim-Oued Noun"></nz-option>
                      <nz-option [nzValue]="12" nzLabel="Marrakech-Safi"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Demandeur_Taye_Menage">Taille du Menage
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="Demandeur_Taye_Menage" id="Demandeur_Taye_Menage" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Demandeur_nbr_Chambre">Nombre de chambres
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="Demandeur_nbr_Chambre" id="Demandeur_nbr_Chambre" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item>


                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Demandeur_Sexe">Sexe du chef de ménage
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="Demandeur_Sexe">
                      <nz-option [nzValue]="1" nzLabel="Masculin"></nz-option>
                      <nz-option [nzValue]="2" nzLabel="Féminin"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Logement_libelle_Ar">Type de Logement
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="Logement_libelle_Ar">
                      <nz-option [nzValue]="1" nzLabel="Locataire"></nz-option>
                      <nz-option [nzValue]="2" nzLabel="Proprétaire"></nz-option>
                      <nz-option [nzValue]="3" nzLabel="Logement gratuit"></nz-option>
                      <nz-option [nzValue]="5" nzLabel="Bidonville"></nz-option>
                      <nz-option [nzValue]="6" nzLabel="Logement en boue"></nz-option>
                      <nz-option [nzValue]="4" nzLabel="Autres"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <!-- <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="date_naissance">Date naissance du chef de
                    ménage
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-date-picker style="width: 100%;" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]="date_naissance" (ngModelChange)="onChangeDate($event)"></nz-date-picker>
                  </nz-form-control>
                </nz-form-item> -->

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Etat_matrimonial_CM">Etat matrimonial du chef
                    de
                    ménage
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="Etat_matrimonial_CM">
                      <nz-option [nzValue]="1" nzLabel="Single "></nz-option>
                      <nz-option [nzValue]="2" nzLabel="Marrié "></nz-option>
                      <nz-option [nzValue]="3" nzLabel="Veuf "></nz-option>
                      <nz-option [nzValue]="4" nzLabel="Divorcé ou marié à un étranger "></nz-option>
                      <nz-option [nzValue]="5" nzLabel="Paire abandonnée "></nz-option>
                      <nz-option [nzValue]="8" nzLabel="Femme abandonnée"></nz-option>
                      <nz-option [nzValue]="6" nzLabel="Marié à un étranger "></nz-option>
                      <nz-option [nzValue]="7" nzLabel="Mariée à un étranger"></nz-option>
                      <nz-option [nzValue]="9" nzLabel="Autre "></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <!--                 <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Niveau_scolaire_agreg_CM">Niveau Scolaire du
                    chef
                    de
                    ménage</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="Niveau_scolaire_agreg_CM">
                      <nz-option [nzValue]="0" nzLabel="Préscolaire"></nz-option>
                      <nz-option [nzValue]="2" nzLabel="Primaire"></nz-option>
                      <nz-option [nzValue]="3" nzLabel="Collège"></nz-option>
                      <nz-option [nzValue]="4" nzLabel="Lycée"></nz-option>
                      <nz-option [nzValue]="5" nzLabel="Faculté"></nz-option>
                      <nz-option [nzValue]="6" nzLabel="Autre"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item> -->

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Fonction_libelle_Ar">Profession du
                    chef de ménage</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="Fonction_libelle_Ar">
                      <nz-option *ngFor="let prof of profession_fr; let i = index;" [nzValue]="i+1" nzLabel="{{prof}}">
                      </nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div *ngIf="current == 1">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="ordinateur">Toilet </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="toilet">
                      <nz-option [nzValue]="1" nzLabel="Oui"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Non"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="parab">Parabol</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="parab">
                      <nz-option [nzValue]="1" nzLabel="Oui"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Non"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="voiture">Voiture</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="voiture">
                      <nz-option [nzValue]="1" nzLabel="Oui"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Non"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="moto">Moto</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="moto">
                      <nz-option [nzValue]="1" nzLabel="Oui"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Non"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="bain">Bain</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="bain">
                      <nz-option [nzValue]="1" nzLabel="Oui"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Non"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="eau_fontaine_publique">Eau Fontaine Publique
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="eau_fontaine_publique">
                      <nz-option [nzValue]="1" nzLabel="Oui"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Non"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="reseau_evacuation_publique_eau_usee">
                    Evacuation Publique
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="reseau_evacuation_publique_eau_usee">
                      <nz-option [nzValue]="1" nzLabel="Oui"></nz-option>
                      <nz-option [nzValue]="0" nzLabel="Non"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

              </div>

              <div *ngIf="current == 2">
                <!-- <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="Demandeur_frais_Logement">Frais de logement</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="Demandeur_frais_Logement" id="Demandeur_frais_Logement" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item> -->

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="SocioEconomique_consomation_Eau">Dépense Eau</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="SocioEconomique_consomation_Eau" id="SocioEconomique_consomation_Eau" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="SocioEconomique_consomation_Electricite">Dépense Electricité</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="SocioEconomique_consomation_Electricite" id="SocioEconomique_consomation_Electricite" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item>

                <!-- <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="dep_gaz">Dépense Gaz</nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="dep_gaz" id="dep_gaz" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item> -->


                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="SocioEconomique_consomation_Telephone">Dépense Téléphone
                  </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <input nz-input formControlName="SocioEconomique_consomation_Telephone" id="SocioEconomique_consomation_Telephone" type="number" min="0" />
                  </nz-form-control>
                </nz-form-item>


              </div>

              <!-- <div *ngIf="current == 3">
                <nz-form-item>
                  <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired nzFor="milieu">Modèle de test </nz-form-label>
                  <nz-form-control [nzSm]="10" [nzXs]="24">
                    <nz-select formControlName="modele">
                      <nz-option [nzValue]="0" nzLabel="Classification (Sans revenu)"></nz-option>
                      <nz-option [nzValue]="1" nzLabel="Classification"></nz-option>
                      <nz-option [nzValue]="2" nzLabel="Auto encoder"></nz-option>
                      <nz-option [nzValue]="3" nzLabel="Isolation Forest"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div> -->

            </form>

            <div *ngIf="current == 3">
              <div>
                <nz-alert style="min-width: 750px;" class="resultat-content" [nzType]="(fraudResult.fraude) ? 'error' : 'success'"
                  nzMessage="Doute de la fraude" [nzDescription]="fraudResult.msg" nzShowIcon></nz-alert>

                  <nz-alert style="min-width: 750px;" *ngIf="fraudResult?.msgRegles?.length > 0" class="resultat-content" [nzType]="(fraudResult.fraude) ? 'error' : 'success'"
                  nzMessage="Raison de la fraude" [nzDescription]="regles"></nz-alert>

                <ng-template #regles style="font-weight: bolder">
                  <p style="text-align: left; margin: 10px 90px" nz-paragraph *ngFor="let rg of fraudResult.msgRegles">
                    <i nz-icon nzType="close-circle"></i>
                    {{rg}}
                  </p>
                </ng-template>
              </div>
            </div>
          </div>


          <div class="steps-action">
            <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
              <span>Previous</span>
            </button>
            <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
              <span>Next</span>
            </button>
            <!-- <button nz-button nzType="primary" (click)="done()" *ngIf="current === 3" [disabled]="validateForm.invalid"> -->
            <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
              <span>Submit</span>
            </button>
          </div>

        </div>
      </nz-tab>
    </nz-tabset>

  </div>
</div>
