.ref-data-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}


.rsu-form {
  max-width: 900px;
  margin: 1em auto;
}

.form-input{
  display: flex;
  flex-direction: column;
}


.submit-form-button {
  width: 40%;
  margin: 0 auto;

}



.submit-btn{
  width: 100px;
  margin: 0 auto;
}

