<!-- <div class="users-container p-1">

  <nz-page-header class="site-page-header" [nzTitle]="rsuTitle" nzSubtitle="Manage Compositions"></nz-page-header>
  <ng-template #rsuTitle><i class="mr-2" nz-icon nzType="font-size" nzTheme="outline"></i>Rsu Composition</ng-template>

  <div class="flex-box flex-scroll bg-grey rounded-0 m-0 p-0">
    <nz-table nzBordered #basicTable nzShowSizeChanger nsAutoHeightTable='20' [nzData]='(rsuData$ | async)'
          nzSize='small' [nzLoading]='loading'>
          <thead>
            <tr>
              <th *ngFor='let s of (rsuSources$ | async)'>{{s}}</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of basicTable.data">
              <td *ngFor='let target of rsuTargets'>{{(row.composition || {})[target]}}</td>
              <td>
                <div class="button-spacing ghost">
                  <button nzShape='circle' nz-button (click)='onEdit(row)'><i nz-icon nzType="edit"></i></button>
                  <nz-divider nzType='vertical'></nz-divider>
                  <button nzShape='circle' nz-button (click)='onDelete(row)'><i nz-icon
                      nzType="delete"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
    </nz-table>
  </div>
</div> -->

<div class="ref-data-container p-1">
  <div class="flex column stretch">

    <div>
      <nz-page-header class="site-page-header" [nzTitle]="userTitle" nzSubtitle="Manage Compositions">
      </nz-page-header>
      <ng-template #userTitle><i class="mr-2" nz-icon nzType="font-size" nzTheme="outline"></i>Rsu Composition
      </ng-template>
    </div>

    <nz-tabset>
      <nz-tab nzTitle="Rsu Composition">
        <div class="site-page-header-ghost-wrapper">
          <nz-page-header nzBordered [nzGhost]="false">
            <nz-page-header-extra>
              <div class="flex between">
                <div class="pr-2">
                  <nz-upload *ngIf="(rsuData$ | async)?.length == 0" [nzAction]="uploadURI"
                    [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)"
                    [nzShowUploadList]="false">
                    <button nz-button nzType='info'><i nz-icon nzType="file-excel" nzTheme="outline"></i>Import</button>
                  </nz-upload>
                </div>
                <div class="pr-2">
                  <nz-upload *ngIf="(rsuData$ | async)?.length != 0" [nzAction]="updateURI"
                    [nzHeaders]="{ authorization: 'authorization-text' }" (nzChange)="handleChange($event)"
                    [nzShowUploadList]="false">
                    <button nz-button nzType='info'><i nz-icon nzType="file-excel" nzTheme="outline"></i>Update</button>
                  </nz-upload>
                </div>
              </div>
            </nz-page-header-extra>
          </nz-page-header>

        </div>

        <nz-card nzSize='small' nzTitle='Reference Data'>
          <div class="h-100" style="position: relative;">
            <nz-table nzBordered #basicTable nzShowSizeChanger nsAutoHeightTable='20' [nzData]='(rsuData$ | async)'
              nzSize='small' [nzLoading]='loading'>
              <thead>
                <tr>
                  <th *ngFor='let s of (rsuSources$ | async)'>{{s}}</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of basicTable.data">
                  <td *ngFor='let target of rsuTargets'>{{(row.composition || {})[target]}}</td>
                  <td>
                    <div class="button-spacing ghost">
                      <button nzShape='circle' nz-button (click)='onEdit(row)'><i nz-icon nzType="edit"></i></button>
                      <nz-divider nzType='vertical'></nz-divider>
                      <button nzShape='circle' nz-button (click)='onDelete(row)'><i nz-icon
                          nzType="delete"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </nz-card>
      </nz-tab>

      <nz-tab nzTitle="AI Test">
      </nz-tab>
    </nz-tabset>

  </div>
</div>
