<div class="monitor-container p-1">
  <nz-page-header class="site-page-header" [nzTitle]="Title" nzSubtitle="Monitor Runs"></nz-page-header>
  <ng-template #Title><i class="mr-2" nz-icon nzType="team" nzTheme="outline"></i>Runs</ng-template>

  <div nz-row class='ma-b'>
    <div nz-col [nzSpan]='18'>
      <button nz-button class='ghost' (click)="getData()"><i nz-icon nzType="reload"></i></button>
    </div>

    <div nz-col [nzSpan]='6'>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input [(ngModel)]='searchPipeline' placeholder="Filter runs" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="flex-box flex-scroll  bg-grey rounded-0 m-0 p-0">
    <app-monitor-list [pipelines]="pipelines" [getMonitor]="getMonitors" [getTasks]="getRunTasks"
      (openRun)="openRun($event)"></app-monitor-list>
  </div>
</div>