<div class="main-container flex-box">
  <!-- Header -->
  <div class="importHeader" nz-row>
    <div nz-col nzSpan="18">
    </div>
    <div nz-col nzSpan="6" class="text-right">
      <button nz-button nzType="primary" class="mr-4" nzSize="small" [nzGhost]="true" nzShape="circle" nz-tooltip
        nzTooltipTitle="Previous Step" nzTooltipPlacement="left" (click)="goToMapping()"><i nz-icon
          nzType="caret-left"></i></button>
      <button nz-button nzType="primary" class="mr-4" nzSize="small" [nzGhost]="true" nzShape="circle" nz-tooltip
        nzTooltipTitle="Next Step" nzTooltipPlacement="left" (click)="goToUpload()"><i nz-icon
          nzType="caret-right"></i></button>
      <button nz-button nzType="danger" nzSize="small" [nzGhost]="true" nzShape="circle" nz-tooltip
        nzTooltipTitle="Reset" nzTooltipPlacement="left" (click)="cancelUpload()"><i nz-icon
          nzType="close"></i></button>
    </div>
  </div>

  <!-- Grid -->
  <div class="flex-child mt-4">
    <nz-table #basicTable [nzData]="data$ | async" nzShowSizeChanger [nzBordered]="true" [nzFrontPagination]="false"
      [nzLoading]="loading$ | async" [nzTotal]="(totalRecords$ | async)" [nzPageSize]="numberOfRows"
      [nzPageIndex]="page" (nzPageIndexChange)="onPageChange($event)">
      <thead>
        <tr>
          <th nzCustomFilter *ngFor="let head of (headers$ | async)">{{head.headerName}}
            <i nz-th-extra class="ant-table-filter-icon" nz-icon nz-dropdown #dropdown="nzDropdown" nzType="search"
              [nzDropdownMenu]="menu" [class.ant-table-filter-open]="dropdown.nzVisible" nzTrigger="click"
              nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter></i>

            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div class="search-box">
                <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search(head.field)" class="search-button">
                  Search
                </button>
                <button nz-button nzSize="small" (click)="reset()">Reset</button>
              </div>
            </nz-dropdown-menu>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td *ngFor="let head of (headers$ | async)" [class.error-cell]="inError(i, head.field)">{{ data[head.field] }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
