.main-container {
  padding: 0 24px 24px 24px;
  height: 100%;
}

.flex-box {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.flex-child {
  flex: 1;
}

:host ::ng-deep .ant-divider-inner-text {
  color: #28a745 !important;
}

:host ::ng-deep nz-divider.error {
  margin-left: 30px !important;
}
