.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.between{
    justify-content: space-between;
}

.flex.end{
    justify-content: flex-end;
}

.flex.colunm{
    flex-direction: column;
}
