.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex.between{
    justify-content: space-between;
}

.flex.end{
    justify-content: flex-end;
}

.flex.start{
    justify-content: flex-start;
}

.flex.stretch{
    align-items: stretch;
}


.flex.top{
    align-items: flex-start;
}

.flex.column.start{
    align-items: flex-start;
}

.flex.column{
    flex-direction: column;
}

.flex.row{
    flex-direction: row;
}

.flex-1{
    flex: 1;
}

.height-1{
    max-height: 100%;
    min-height: 100%;
}

.flex-scroll{
    flex: 1 1 0%;
    height: 0;
    overflow-y: auto;
}