<div class="ref-data-container">


    <div class="flex column fill stretch">
        <div>
            <nz-page-header class="site-page-header" [nzTitle]="userTitle" nzSubtitle="Manage Application Level Reference Data"></nz-page-header>
            <ng-template #userTitle><i class="mr-2" nz-icon nzType="font-size" nzTheme="outline"></i>Reference Types</ng-template>
        </div>

        <app-global-reference-types class="fill w-100"></app-global-reference-types>
        
    </div>


    
    
    <!-- <div class="flex-1">    
        <div class="flex stretch bg-pg">
           
            <div class="flex-1">
                <app-refrence-type-data></app-refrence-type-data>
            </div>
        </div>
    </div> -->
  </div>

  




