<div class="flex flex-1 column start">

  <div class="flex-1 flex w-100" *ngIf='(error$ | async)'>
    <div class="flex column">
      <span nz-text nzType='danger' nz-tooltip [nzTooltipTitle]='error$ | async | json'>
        <i nz-icon nzType="api" style="font-size: 64px"></i>
      </span>
      <div class="mt-3">
        <!-- <div>{{error$ | async | json}}</div> -->
        <span nz-text>Click <i>View Source</i> or select a <i>Transformation Pipe</i> in the toolbar above. </span>
      </div>
    </div>
  </div>

  <ng-container *ngIf='!(error$ | async)'>
    <app-data-grid  class="flex-1" [paginationPageSize]='size$ | async'
    [columnDefs]="headers$ | async" (gridReady)="this.gridReady$.next($event)"></app-data-grid>
    <app-sheet-selector></app-sheet-selector>
  </ng-container>

</div>
