[nz-form] {
    /* width: 500px;
    max-width: 600px; */
    max-height: calc(100vh - 200px);
    overflow: auto;
  }
  @media screen and (max-width:700px){
    [nz-form]{
      width: auto !important;
    }
  }
  
  .roles-input {
    width: 90%;
    margin-right: 8px;
  }
  
  .add-button {
    width: 60%;
  }
  .plus{
    width: calc(97% - 16px);
  }
  .colone{
    margin-bottom: 10px !important;
  }
  .SHS{
    margin-bottom: 5px !important;
  }
  

  .demo-infinite-container {
    height: calc(100vh - 400px);
    border: 1px solid #e8e8e8;
    /* border-radius: 4px; */

    display: block;
    position: relative;
    overflow: auto;
    contain: strict;
    transform: translateZ(0);
    will-change: scroll-position;
    scroll-behavior: smooth;
  }

  .cdk-virtual-scroll-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    contain: content;
  }