<!-- <nz-card class="hierarchy-card" nzTitle='Domains Hierarchy' nzSize='small'> -->
  
  <!-- (nzExpandChange)="nzEvent($event)" -->
  <!-- (nzSearchValueChange)="nzEvent($event)" -->
<!-- </nz-card> -->

<div class="hierarchy-card">
  <nz-input-group [nzSuffix]="suffixIcon" class="mb-2">
    <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
  </nz-input-group>
  <ng-template #suffixIcon>
    <i nz-icon nzType="search"></i>
  </ng-template>
  <nz-tree nzShowIcon [nzData]="nodes$ | async | treeFilter: searchValue" (nzClick)="onElementClick($event)"
    [nzSelectedKeys]='activetedKey'
    [nzExpandedKeys] = 'expandedKey'
    [nzExpandAll]='searchValue?.length > 0'

    >
  </nz-tree>
</div>