::ng-deep .fields-card .ant-card-body{
    padding: 0;
    /* margin-top: 10px; */
}

::ng-deep .fields-card .ant-table-small{
  border: 0;  
}

.content {
    display: flex;
  }
  .extra > div {
    display: flex;
    width: max-content;
    justify-content: flex-end;
  }
  @media (max-width: 576px) {
    .content {
      display: block;
    }

    .main {
      width: 100%;
      margin-bottom: 12px;
    }

    .extra {
      width: 100%;
      margin-left: 0;
      text-align: left;
    }
  }

  [nz-button] {
    margin-right: 8px;
    /* margin-bottom: 12px; */
  }

  ::ng-deep .content .ant-table-small > .ant-table-content > .ant-table-body{
    margin: 0;
  }