<div class="flex column start stretch h-100 w-100">

  <!-- <nz-tabset>
    <nz-tab nzTitle="All"></nz-tab>
    <nz-tab nzTitle="Transformations"></nz-tab>
    <nz-tab nzTitle="Checks"></nz-tab>
  </nz-tabset> -->

  <div class="b-0 border-bottom w-100 flex between">
    <button nz-button (click)='apply()'><i nz-icon nzType='reload'></i>Update</button>
    <!-- <button nz-button (click)='apply()'><i nz-icon nzType='check'></i>Validate</button> -->
    <button nz-button (click)='reset()'><i nz-icon nzType='delete'></i>Clear All</button>
  </div>

  <!-- OPERATIONS -->


 <div class="scroll-container flex-1 w-100">
   <div class="w-100" style="padding: .25em;">
        <app-transformation-node  *ngFor='let node of nodes$ | async; let i = index' [index]=i [params]='node'></app-transformation-node>
    </div>
  </div>


</div>
