<app-pipeline-editor [diagramNodeData]='nodes$ | async' (diagramNodeDataChange)='onDiagramNodeDataChange($event)'
  [diagramLinkData]='links$ | async' (diagramLinkDataChange)='onDiagramLinkDataChange($event)'>

  <div class="button-spacing flex start">
    <button class='ghost' nz-button><i nz-icon nzType='save'></i>Save</button>
    <button class='ghost' nz-button><i nz-icon nzType='saveAs-o'></i>Save As</button>
    <nz-divider nzType='vertical'></nz-divider>
    <div class="flex">
      <input nz-input type="text" [(ngModel)]='pipeId' name="" id="">
      <button (click)='publish()' nz-button><i nz-icon nzType='upload'></i>Publish</button>
    </div>
    <nz-divider nzType='vertical'></nz-divider>
  </div>
</app-pipeline-editor>