<div class="MenuBar">
    <i class="fa fa-genderless text-danger icon-xxl"></i>
    <div class="submenu">
        hovered 1st 11
    </div>
</div>

<!-- <div class="center-buttons">
    <span class="ms-2"><img src="assets/icons/location-p.png" alt="image" (click)="invokeGeocodeMethod()"
        style="width: 15px;" /></span>
</div>


    demandé
    src="assets/icons/maps-red-96.png" alt="image" style="width: 15px;"

    propostion
    src="assets/icons/address-96.png" alt="image" style="width: 18px;"

    autre
    address-96.png
    place-96.png
    map-m.png
 -->
