::ng-deep .sheet-selector .ant-tabs-tab{
    border-bottom : 0 !important;
    border-radius: 0 !important;
}

::ng-deep .sheet-selector .ant-tabs-nav>div:first-child{
    border-left : 0 !important;
}

::ng-deep .sheet-selector.ant-tabs-bottom .ant-tabs-bottom-bar{
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    padding-left: 16px !important;
    margin : 0 !important;
}