<div class="flex">
  <div class="sheet-selector b-0">
    <button nzType='primary' (click)="openModal()" nz-button> <i nz-icon nzType='plus'></i></button>
    <button ghost nz-button> <i nz-icon nzType='setting'></i></button>
  </div>
  <div class="sheet-selector flex-1">
    <ng-container *ngFor='let sheet of sheets$ | async; let i = index'>
      <button nz-button nzType="default" class="b-0 border-left" (click)="displayGrid(sheet)">
        <i nz-icon nzType="edit"></i>Sheet {{i+1}}
      </button>
    </ng-container>
  </div>
</div>
