<!-- <div class="flex">
  <div class="sheet-selector">
    <ng-container *ngFor='let sheet of (sheets$ | async); let i = index'>
      <button nz-button [nzType]="(i === activeIndex)?'primary':'default'" class="b-0 border-left" (click)="displayGrid(sheet, i)">
        <i nz-icon nzType="edit"></i>{{sheet.file_name}}
      </button>
    </ng-container>
  </div>

  <div class="sheet-selector border-right b-0">
    <button class="border-left" (click)="openModal()" nz-button> <i nz-icon nzType='plus'></i>Sheet</button>
  </div>

  <div class="flex-1"></div>
</div> -->

<nz-tabset class="sheet-selector" [nzTabBarExtraContent]='plus' [nzSize]="'small'" nzTabPosition='bottom' [nzSelectedIndex]="activeIndex" nzType="card">
  <nz-tab *ngFor='let sheet of (sheets$ | async); let i = index' (nzSelect)="displayGrid(sheet, i)"  [nzTitle]="sheet.file_name"></nz-tab>
  
  <nz-tab (nzClick)="openModal()" [nzTitle]="plus"></nz-tab>
  <ng-template #plus><i class="m-0" nz-icon nzType='plus'></i></ng-template>
</nz-tabset>