<div class="users-container p-3">
  <div nz-row class='ma-b'>
    <div nz-col [nzSpan]='18'>
      <button nz-button class='ghost pl-0' (click)="addUser('The user was added successfully.', false)">
        <i nz-icon nzType="plus"></i>Add User
      </button>
      <button nz-button class='ghost' (click)="reload()"><i nz-icon nzType="reload"></i></button>
    </div>

    <div nz-col [nzSpan]='6'>
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input [(ngModel)]='searchUser' placeholder="Filter Users" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>

  <div class="flex-box">
    <nz-card class="fields-card ma-b h-100">
      <app-users-list [searchTerm]="searchUser" [reload$]="reload$" (updateUser)="editUser($event)"></app-users-list>
    </nz-card>
  </div>
</div>
