.login-container {
  height: 100vh;
  background: rgb(0, 112, 144);
  background: linear-gradient(90deg, rgba(0, 112, 144, 1) 0%, rgba(244, 244, 244, 1) 50%, rgba(255, 255, 255, 1) 100%);
}

.flex-box {
  height: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}

.box {
  height: 60vh;
  width: 25vw;
  border-radius: 10px;
  background-color: white;
}

.right-box {
  height: 100%;
  background-image: url("../../../../../assets/images/bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

:host i{
  font-size: 50px;
}
