.loading {
  text-align: center;
  padding: 30px 50px;
  margin: 20px 0;
}

.chart {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}


ul{
  display: flex;
  flex-direction: column;
}

li{
  margin: 5px 0;

}
