<div class="loading" *ngIf="!stats_content">
  <nz-spin nzSimple nzTip="Loading the statistics..."></nz-spin>
</div>

<div *ngIf="stats_content">
  <nz-collapse nzAccordion>
    <nz-collapse-panel nzHeader="Social Distribution">
      <div class="chart">
        <canvas style="height: 100%;" baseChart [data]="piePauvreChartData" [labels]="piePauvreChartLabels"
          [chartType]="pieChartType"></canvas>
      </div>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Geographical Distribution">
      <div class="chart">
        <canvas baseChart [data]="pirRegionChartData" [labels]="pieRegionChartLabels"
          [chartType]="pieChartType"></canvas>
      </div>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Consumption stats">
      <nz-table nzBordered #basicTable nzShowSizeChanger nsAutoHeightTable='20' [nzData]='(resultat$ | async )' nzSize='small'>
        <thead>
          <tr>
            <th>Consumption</th>
            <th>Max</th>
            <th>Number of poor people with consumption above the maximum</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.consommation}}</td>
            <td>{{data.max}}</td>
            <td>{{data.count_pauvre}}</td>
          </tr>
        </tbody>
        </nz-table>
    </nz-collapse-panel>
  </nz-collapse>
</div>
