{{data | json}}

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <app-columns-input [(ngModel)]='data.column'></app-columns-input>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input  placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
