<div class="flex">
    <div class="flex-1 b-0">
        <button nz-button> <i nz-icon nzType='save'></i> Save</button>
        <button nz-button> <i nz-icon nzType='file'></i> Source</button>
        <button nz-button> <i nz-icon nzType='area-chart'></i> Report</button>
        <button nz-button> <i nz-icon nzType='export'></i> Export</button>
    </div>

    <div class="b-0">
        <button nz-button> <i nz-icon nzType='undo'></i></button>
        <button nz-button> <i nz-icon nzType='redo'></i></button>
    </div>
</div>
