<div class="main-container flex-box">
  <!-- Header -->
  <div class="importHeader mb-2" nz-row>
    <div nz-col nzSpan="18" class="button-spacing">
      <button nz-tooltip nzTooltipTitle='Previous Mappings' nzShape='circle' class="ghost" nz-button
        (click)='previousMappings()'>
        <i nz-icon nzType="hourglass"></i>
      </button>
      <nz-divider nzType='vertical'></nz-divider>
      <button nz-tooltip nzTooltipTitle='Update mapping' [disabled]="!(mappingId$|async)" nzShape='circle' class="ghost" nz-button
        (click)='updateMapping(mappingFields)'>
        <i nz-icon nzType="cloud-sync"></i>
      </button>
      <button nz-tooltip nzTooltipTitle='Save new mapping' nzShape='circle' class="ghost" nz-button
      (click)='isVisible = true'>
      <i nz-icon nzType="save"></i>
    </button>
    <nz-divider nzType='vertical'></nz-divider>
    <button nz-tooltip nzTooltipTitle='Load Automatic mapping' nzShape='circle' class="ghost" nz-button
      (click)="loadAutoMapping()">
      <i nz-icon nzType="reload"></i>
    </button>
      <!-- <span>Applied Mapping: </span>
      <span> {{(mappingId$ |async)}} </span> -->
    </div>
    <div nz-col nzSpan="6" class="text-right button-spacing">
      <button nz-button nzType="primary" nzGhost nzSize="middle" nzShape="round" nz-tooltip
        nzTooltipTitle="Previous Step" nzTooltipPlacement="left" (click)="goToPreview()"><i nz-icon
          nzType="caret-left"></i> Previous</button>
      <button nz-button nzType="primary" nzSize="middle" nzShape="round" nz-tooltip nzTooltipTitle="Next Step"
        nzTooltipPlacement="left" (click)="goToCleansing()">Next<i nz-icon nzType="caret-right"></i></button>
      <nz-divider nzType='vertical'></nz-divider>
      <button nz-button nzSize="middle" nzShape="circle" nz-tooltip nzTooltipTitle="Reset" nzTooltipPlacement="left"
        (click)="cancelUpload()">
        <i nz-icon nzType="close"></i>
      </button>
    </div>
  </div>

  <!-- Body -->
  <div class="flex-box" *ngIf="keys(mappedSources).length">
    <div class="mapping-container">
      <!-- Sources -->
      <div class="sources">
        <nz-card class="h-100 w-100">
          <div class="sources-items">
            <div class="source-title">
              SOURCE FIELDS
            </div>
            <div class="scroll-box">
              <div class="source-list">
                <div class="source-item-box" [class.mapped]="mappedSources[item]" [dndDraggable]="item"
                  *ngFor="let item of keys(mappedSources)">
                  {{item}}
                </div>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
      <!-- Targets -->
      <div class="targets">
        <nz-card class="h-100 w-100">
          <div class="sources-items">
            <div class="target-title">
              <span>TARGET FIELDS</span>
              <div [ngSwitch]="(mandatories$ | async)">
                <span *ngSwitchCase='0' class="text-success">
                  <i nz-icon nzType="check" nzTheme="outline"></i><b> ALL MANDATORIES HAVE BEEN MAPPED</b>
                </span>
                <span *ngSwitchDefault class="text-danger"><b>{{(mandatories$ | async)}}</b>
                  MANDATORY MISSING</span>
              </div>
            </div>
            <div class="scroll-box">
              <div class="source-list">
                <div class="target-item-box" *ngFor="let item of (mappingFields$|async); let i = index;"
                  [class.mandatory-row]="item.mandatory">
                  <div class="mapped-item-list dropHintClass" dndDropzone (dndDrop)="onItemDrop($event,i)"
                    [dndDragoverClass]="'dropOverClass'">
                    <div nz-row>
                      <div nz-col nzSpan="18">
                        <div *ngIf="item.value" class="badge badge-primary" selected>
                          {{item.value}}
                          <i nz-icon nzType="close" nzTheme="outline" (click)="onRemoveClick(item,i)"></i>
                        </div>
                      </div>
                      <div nz-col nzSpan="6">
                        <span [class.mandatory]="item.mandatory">
                          {{item.label}}
                          <span *ngIf="item.mandatory">*</span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>

<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible" [nzOkLoading]="isOkLoading"
  [nzOkDisabled]="!validateForm?.valid" [nzClosable]="false" nzTitle="Name this mapping" (nzOnOk)="saveNewMapping()"
  (nzOnCancel)="isVisible = false">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Mapping Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
        <input nz-input formControlName="name" id="name" />
        <ng-template #errorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            Please name your mapping.
          </ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">
            A mapping with this name already exists.
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
