<form nz-form [nzLayout]="'horizontal'">
  
    <nz-form-item>
      <nz-form-label [nzSm]="8">Columns</nz-form-label>
      <nz-form-control [nzSm]="16">
          <app-columns-input [nzSize]='size' [nodeIndex]='index' mode='multiple' [(ngModel)]='data.columns' name='columns' (change)='onDataChanged()'></app-columns-input>
      </nz-form-control>
    </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8">Type</nz-form-label>
        <nz-form-control [nzSm]="16">
            <nz-select nz-tooltip [nzTooltipTitle]='"Jointure type"' [nzMaxTagCount]='0' [nzSize]='"small"' class="column-input" [(ngModel)]="data.join_type" name="join_type" (ngModelChange)='onDataChanged()'>
                <nz-option *ngFor='let jt of join_types' [nzValue]="jt" [nzLabel]="jt"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="8">File</nz-form-label>
        <nz-form-control [nzSm]="16">
          <nz-select nz-tooltip [nzTooltipTitle]='"File name"' [nzMaxTagCount]='0' [nzSize]='"small"' class="column-input" name="join_type" [(ngModel)]='data.file_id' (ngModelChange)='Fileschange($event)'>
              <nz-option *ngFor='let file of (Userfiles$ | async)' [nzValue]="file.fileId" [nzLabel]="file.file_name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
  
</form>
