:host {  display: flex;
flex:1;}

.stacks-container {
  display: flex;
  align-items: stretch;
}

.full-width {
  width:100%;
  margin-bottom:20px;
}

.lists {
  padding:20px 0;
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 20%;
  height: 100%;
}

.details {
  padding:20px 0 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 80%;
  align-items: stretch;
}

.details-card-empty  {
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.details-card  {
  flex: 1;
  align-items: flex-start;
  justify-content: left;
  display: flex;
}

.code-editor {
  margin:10px 0px;
  border:1px solid #ccc;
  height: 300px;
}


:host ::ng-deep .anticon {
  /* vertical-align:-1px !important; */
  padding-right: 5px;
}
