

<div nz-row class='ma-b'>
  <div nz-col [nzSpan]='12'></div>
  
  <div nz-col [nzSpan]='12'>
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" [(ngModel)]='searchTerm' nz-input placeholder="Filter columns" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
</div>
<nz-table 
        #basicTable 
        [nzFrontPagination]="pagination" 
        [nzShowPagination]="pagination" 
        [nzData]="listOfcolumns | simpleFilter : 'title' : searchTerm" 
        class="table_template" 
        style="height: 400px;"
        [nzScroll]="{ y: '357px' }"
        nzBordered>
    <thead>
      <tr>
        <th nzWidth="40%">Column Name</th>
        <th nzWidth="30%">Sheet</th>
        <th nzWidth="40%">Range</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        
        <ng-container *ngIf="data.dataArray; else  obj">
            <tr  *ngFor="let dt of data.dataArray; let i = index">
                <td [attr.rowspan]="data.dataArray.length" *ngIf="i==0" style="width: 226px;">{{ data.title }}</td>
                
                    <td>{{ dt.sheet }}</td>
                    <td>{{ dt.range }}</td>   
                                
            </tr>            
        </ng-container>
        <ng-template #obj>
            <tr>
                <td style="width: 226px;">{{ data.title }}</td>
                <td>{{ data.dataobj.sheet }}</td>
                <td>{{ data.dataobj.range }}</td>                
            </tr>
        </ng-template>
      </ng-container>
    </tbody>
  </nz-table>