<nz-collapse [nzAccordion]="true">
  <nz-collapse-panel *ngFor="let panel of keys(audits); let first = first" [nzHeader]="panel" [nzActive]="first">
    <nz-list [nzDataSource]="keys(audits[panel])" nzBordered nzSize="small" [nzRenderItem]="smallItem">
      <ng-template #smallItem let-item>
        <nz-list-item>
          <div nz-row class="w-100">
            <div nz-col nzSpan="4">{{Number(item) + 1}}</div>
            <div nz-col nzSpan="5" class="text-danger">{{audits[panel][item]?.previous ? audits[panel][item]?.previous : 'Null'}}</div>
            <div nz-col nzSpan="5" class="text-success">{{audits[panel][item]?.new ? audits[panel][item]?.new : 'Null'}}</div>
            <div nz-col nzSpan="5">
              {{audits[panel][item]?.updated_at ? (audits[panel][item]?.updated_at | date : 'medium') : 'Null'}}
            </div>
            <div nz-col nzSpan="5">{{audits[panel][item]?.user ? audits[panel][item]?.user : 'Null'}}</div>
          </div>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </nz-collapse-panel>
</nz-collapse>
