<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="userErrorTpl">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="Password" />
      </nz-input-group>

      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a password!
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          The password must be superior to 8 characters.
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <div  class="flex between">
        <button nz-button class="login-form-button" [nzType]="'default'" (click)="login.emit()">Login instead</button>
        <button nz-button class="login-form-button" [nzType]="'primary'">RESET</button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
