<div class="button-spacing">
  <button (click)='onSave.emit()'  class='ghost' nz-button><i nz-icon nzType='save'></i>Save</button>
  <button (click)='onSaveAs.emit()'  class='ghost' nz-button><i nz-icon nzType='saveAs-o'></i>Save As</button>
  <nz-divider nzType='vertical'></nz-divider>
  <button class='ghost' nz-button nz-dropdown [nzDropdownMenu]="menu"><i nz-icon nzType='plus'></i> Add Node<i nz-icon nzType="down"></i></button>
  <nz-divider nzType='vertical'></nz-divider>
  <button (click)='onViewTemplate.emit()'  class='ghost' nz-button><i nz-icon nzType="snippets" nzTheme="outline"></i>View Template</button>
</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-submenu *ngFor="let cat of nodesMap | keyvalue" [nzTitle]="cat.key">
      <ul>
        <li *ngFor='let n of cat.value' (click)='addNode(n)' nz-menu-item>{{n.label}}</li>
      </ul>
    </li>  
  </ul>
</nz-dropdown-menu>


 