<div class="flex start" (resized)='onResize($event)' *ngIf='type=="grid"'>
  <i nz-icon nzType="copy" nzTheme="twotone" class="m-2"></i>

  <div class="sheet-selector">
    <button nz-tooltip [nzTooltipTitle]='e.sheet' nz-button [ngClass]='{"active": (selectedSheet$ | async) == e.sheet_id}'
      *ngFor="let e of (sheets$|async) | sheetsFilter: (max$ | async)" (click)='onSheetSelected(e.index)'>
      {{e.label}}
    </button>
    <button nz-button *ngIf="showDropdown$ | async" nz-dropdown [nzDropdownMenu]="sheetsMenu"><i nz-icon
        nzType='down'></i></button>
    <nz-dropdown-menu #sheetsMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-tooltip *ngFor="let e of (sheets$|async) | sheetsFilter: (max$ | async) : true" nz-menu-item
          (click)='onSheetSelected(e.index)'>{{e.sheet}}</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>