<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item *ngIf="validateForm.controls.admin">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="admin">Admin</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <nz-switch formControlName="admin" id="admin" (ngModelChange)="resetRules($event)"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please enter your first name!">
      <input nz-input formControlName="firstName" id="firstName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please enter your last name!">
      <input nz-input formControlName="lastName" id="lastName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="!user">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="userErrorTpl">
      <input nz-input type="password" id="password" formControlName="password"
        (ngModelChange)="updateConfirmValidator()" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please input a password!
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          The password must be superior to 6 characters.
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="!user">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <ng-container *ngIf="validateForm.controls.admin && !validateForm.controls.admin.value">
    <nz-form-item *ngFor="let control of listOfRoles; let i = index">
      <nz-form-label [nzSm]="6" [nzXs]="24" *ngIf="i == 0" [nzFor]="control.id">
        Rules
      </nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" [nzOffset]="i == 0 ? 0 : 6"
        nzErrorTip="Please select the domain and the role or delete this field.">
        <nz-select class="roles-input" [attr.id]="control.id" nzAllowClear nzPlaceHolder="domain"
          [formControlName]="control.domainInstance" (nzOpenChange)="loadDomain($event)">
          <nz-option *ngFor="let o of domainList" [nzValue]="o.identifier" [nzLabel]="o.name"></nz-option>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i> Loading Domains...
          </nz-option>
        </nz-select>
        <nz-select class="roles-input" [attr.id]="control.id" nzAllowClear nzPlaceHolder="role"
          [formControlName]="control.roleInstance">
          <nz-option nzValue="domainAdmin" nzLabel="Domain Admin"></nz-option>
          <nz-option nzValue="USER" nzLabel="User"></nz-option>
        </nz-select>
        <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <nz-form-item class="flex center" *ngIf="validateForm.controls.admin && !validateForm.controls.admin.value">
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 20, offset: 4 }">
      <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
        <i nz-icon nzType="plus"></i>
        Add field
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<!-- <div> ADMIN {{user.admin}} </div>
<ul >
  ROLES
  <li *ngFor="let r of user.roles">{{r | json}}  </li>
</ul> -->
