
<!-- CONTAINER -->
<div class="w-100 h-100 flex column stretch">
  <!-- TOOLBAR -->
  <app-pipeline-editor-toolbar></app-pipeline-editor-toolbar>
  <!-- GRAPGH -->
  <div class="fill bg-grey border rounded">
    <ngx-graph 
    [update$]='editor.updateTrigger$'
    [curve]='curve'
    [showMiniMap]="true" 
    [links]="editor.links" 
    [nodes]="editor.nodes">
      <!-- NODE TEMPLATE -->
      <ng-template #nodeTemplate let-node>
        <svg:foreignObject [attr.height]='150' [attr.width]='150'>
          
          <nz-card class="h-100" [nzTitle]='nodeTitle' nzSize='small'>
            <button nz-button (click)='editor.deleteNode(node.id)'><i nz-icon nzType='delete'></i></button>
            <button nz-button (click)='startDrag(node)'><i nz-icon nzType='link'></i></button>
          </nz-card>

          <ng-template #nodeTitle><span nz-typography nzEditable [(nzContent)]="node.label"></span></ng-template>

        </svg:foreignObject>
      </ng-template>

      <!-- ARROW TEMPLATE -->
      <!-- <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>
      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path class="line" stroke-width="2" marker-end="url(#arrow)">
          </svg:path>
          <svg:text class="edge-label" text-anchor="middle">
            <textPath class="text-path" [attr.href]="'#' + link.id" [style.dominant-baseline]="link.dominantBaseline" startOffset="50%">
              {{link.label}}
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template> -->

    </ngx-graph>
  </div>

</div>