<div class="button-spacing">

    <ng-container *ngIf='showTransformation'>
      <button class='ghost' *ngFor='let t of tarnsformations' nzShape='circle' nz-button nzType='default'
      (click)='addTransformation(t)' nz-tooltip [nzTooltipTitle]="t.label"><i nz-icon [nzType]="t.icon || 'sliders'"
      [nzRotate]='t.icon_rotation || 0'></i></button>
    </ng-container>

    <ng-container *ngIf='showActions'>
        <button class='ghost' *ngIf='saved' nzShape='circle' nz-button nz-tooltip nzTooltipTitle="Delete"
        (click)='onDelete()'><i nz-icon nzType="delete"></i>
        </button>

      <button nzType='primary' nzShape='circle' nz-button nz-tooltip nzTooltipTitle="Save" (click)='onSave()' [disabled]='!(canSave$ | async)'>
        <nz-badge [nzDot]='!saved'><i nz-icon nzType="save"></i></nz-badge>
      </button>

    </ng-container>
  </div>
