<nz-layout class="full-h" [ngClass]='settings.appSize$ | async' *ngIf="tokencheck ;else loading">
  <!-- Header -->
  <!-- <nz-header class="topbar">
    <div class="flex between top">
      <div>
        <div [class]="isCollapsed ? 'collapsed-logo' : 'logo'">
          <a [routerLink]="['/data/datacapture/projects']">
            <h1 nz-typography *ngIf="!isCollapsed" class="text-white font-weight-bold" style="width: 200px;">
              Deepkube 
              <span class="text-white font-weight-light"style="opacity: 0.6; font-size: .8em;">DatapipeLine</span>
            </h1>
          </a>
        </div>
      </div>
      <div class="flex">

      </div>
    </div>
  </nz-header> -->

  <nz-layout>
    <!-- Sidebar -->
    <ng-container *ngIf="true">
      <nz-header class="nav" #navbar>
        <ul nz-menu nzMode="horizontal" class="sider-menu customscrollX" [nzInlineCollapsed]="isCollapsed" >
          <li nz-menu-item [nzSelected]="isPrimaryPage('dashboard')" [routerLink]="['/data/datacapture/dashboard']">
            <i nz-icon nzType="dashboard"></i>
            <span *ngIf='(settings.appSize$ | async)!="compact"'>Dashboard</span>
          </li>
          <li nz-submenu nzIcon="tool" nzTitle="Admin" [nzOpen]="false">
            <ul>
              <!-- <li *ngIf="(profile$ | async)?.admin" nz-menu-item [nzSelected]="isPrimaryPage('users')" [routerLink]="['/data/datacapture/users']">
                <span>Users</span>
              </li> -->
              <li nz-menu-item [nzSelected]="isPrimaryPage('domains')" [routerLink]="['/data/datacapture/admin/domains']">
                <span>Domains</span>
              </li>
              <li *ngIf="(profile$ | async)?.admin"  nz-submenu nzTitle="Connectors"> 
                <ul>
                  <li nz-menu-item [nzSelected]="isPrimaryPage('connectorDB')" [routerLink]="['/data/datacapture/connectors/manageDB']">DataBase</li>
                  <li nz-menu-item [nzSelected]="isPrimaryPage('connectorDL')" [routerLink]="['/data/datacapture/connectors/manageDL']">Datalake</li>
                  
                </ul>
              </li>
            </ul>
          </li>
          
          <li nz-menu-item nzIcon="project"  [nzSelected]="isPrimaryPage('template')" [routerLink]="['/data/datacapture/template']">
            <span><i nz-icon nzType="project"></i> Template</span>
          </li>

          <li nz-menu-item nzIcon="export"  [nzSelected]="isPrimaryPage('autoupload')" [routerLink]="['/data/datacapture/autoupload']">
            <span><i nz-icon nzType="export"></i> Auto upload</span>
            <!-- <ul>
              <li nz-menu-item [nzSelected]="isPrimaryPage('database')" [routerLink]="['/data/datacapture/extractors/database']">
                <span>Database</span>
              </li>
              <li nz-menu-item [nzSelected]="isPrimaryPage('datalake')" [routerLink]="['/data/datacapture/extractors/datalake']">
                <span>Datalake</span>
              </li>
              <li nz-menu-item [nzSelected]="isPrimaryPage('autoupload')"  [routerLink]="['/data/datacapture/autoupload/import-data']">Autoupload</li>
            </ul> -->
          </li>




          <li nz-submenu nzIcon="upload" nzTitle="Manual Upload" [nzOpen]="false">
            <ul>
              <li nz-menu-item [nzSelected]="isPrimaryPage('import')" [routerLink]="['/data/datacapture/upload/import']">
                <i nz-icon nzType="import"></i>
                <span>Import</span>
              </li>
              <li nz-menu-item [nzDisabled]="isuploadrouteactivated('TRANSFORM')" [nzSelected]="isPrimaryPage('preview')" [routerLink]="['/data/datacapture/upload/transform']">
                <i nz-icon nzType="sliders"></i>
                <span>Transform</span>
              </li>
              <li nz-menu-item [nzDisabled]="isuploadrouteactivated('MAPPING')" [nzSelected]="isPrimaryPage('mapping')" [routerLink]="['/data/datacapture/upload/mapping']">
                <i nz-icon nzType="arrows-alt"></i>
                <span>Mapping</span>
              </li>
              <li nz-menu-item [nzDisabled]="isuploadrouteactivated('CLEANSING')" [nzSelected]="isPrimaryPage('cleansing')"
                [routerLink]="['/data/datacapture/upload/cleansing']">
                <i nz-icon nzType="monitor"></i>
                <span>Cleansing</span>
              </li>
              <li nz-menu-item [nzDisabled]="isuploadrouteactivated('UPLOAD')" [nzSelected]="isPrimaryPage('uploading')"
                [routerLink]="['/data/datacapture/upload/uploading']">
                <i nz-icon nzType="upload"></i>
                <span>Upload</span>
              </li>
            </ul>
          </li>

          <li *ngIf="url_data" nz-submenu nzIcon="database" nzTitle="Database console" [nzOpen]="false" (click)="openmydata()" style="margin-left: auto;">
          </li>
          

        </ul>
      </nz-header>
    </ng-container>

    <!-- Content -->
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let item of pageList; let i = index">
          <a [routerLink]="[getLinkByIndex(i)]">
            <i nz-icon [nzType]="matchNameWithIcons(item)"></i>
            <span *ngIf="item != 'home'">{{item | titlecase}}</span>
          </a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>


<ng-template #loading>
  <nz-spin nzTip="Loading..." style="min-width: 100%;min-height: 500px;"></nz-spin>
</ng-template>