<nz-layout class="full-h" [ngClass]='settings.appSize$ | async'>
  <!-- Header -->
  <nz-header class="topbar">
    <div class="flex between top">
      <div>
        <div [class]="isCollapsed ? 'collapsed-logo' : 'logo'">
          <a [routerLink]="['/data/datacapture/projects']">
            <!-- <img class="header-icon" [class.header-icon-collapsed]="isCollapsed"
              src="../../../../assets/images/logo.png" alt="logo"> -->
            <h1 nz-typography *ngIf="!isCollapsed" class="text-white font-weight-bold">
              Deepkube 
              <span class="text-white font-weight-light"style="opacity: 0.6; font-size: .8em;">DatapipeLine</span>
            </h1>
          </a>
        </div>
      </div>
      <div class="flex">
        <!-- <button nz-dropdown [nzDropdownMenu]="zoom" class='ghost' nzShape='circle' nz-button nzType='primary'><i nz-icon
            nzType="layout"></i></button> -->
        <!-- <nz-dropdown-menu #zoom="nzDropdownMenu">
          <ul nz-menu nzSelectable style="min-width: 200px;">
            <li (click)='settings.setDefaultSize()' nz-menu-item>Default Layout</li>
            <li (click)='settings.setCompactSize()' nz-menu-item>Compact Layout</li>
          </ul>
        </nz-dropdown-menu> -->
      
        <div class="ml-2"><app-env-tag></app-env-tag></div>

        <app-user-bar class="ml-2"></app-user-bar>

      </div>
    </div>
  </nz-header>

  <nz-layout>
    <!-- Sidebar -->
    <ng-container *ngIf="true">
      <nz-header class="nav" #navbar>
        <ul nz-menu nzMode="horizontal" class="sider-menu" [nzInlineCollapsed]="isCollapsed" >
          <li nz-menu-item [nzSelected]="isPrimaryPage('dashboard')" [routerLink]="['/data/datacapture/dashboard']">
            <i nz-icon nzType="dashboard"></i>
            <span *ngIf='(settings.appSize$ | async)!="compact"'>Dashboard</span>
          </li>
          <li nz-submenu nzIcon="tool" nzTitle="Admin" [nzOpen]="false">
            <ul>
              <li *ngIf="(profile$ | async)?.admin" nz-menu-item [nzSelected]="isPrimaryPage('users')" [routerLink]="['/data/datacapture/users']">
                <span>Users</span>
              </li>
              <li nz-menu-item [nzSelected]="isPrimaryPage('domains')" [routerLink]="['/data/datacapture/admin/domains']">
                <span>Domains</span>
              </li>
              <li *ngIf="(profile$ | async)?.admin" nz-menu-item [nzSelected]="isPrimaryPage('connectors')" [routerLink]="['/data/datacapture/connectors/manageDB']">
                <span>Connectors</span>
              </li>
            </ul>
          </li>
          
          <li nz-submenu nzIcon="export" nzTitle="Extractors" [nzOpen]="false">
            <ul>
              <li nz-menu-item [nzSelected]="isPrimaryPage('database')" [routerLink]="['/data/datacapture/extractors/database']">
                <span>Database</span>
              </li>
            </ul>
          </li>



          <li nz-submenu nzIcon="upload" nzTitle="Upload" [nzOpen]="false">
            <ul>
              <li nz-menu-item [nzSelected]="isPrimaryPage('import')" [routerLink]="['/data/datacapture/upload/import']">
                <i nz-icon nzType="import"></i>
                <span>Import</span>
              </li>
              <li nz-menu-item [nzSelected]="isPrimaryPage('preview')" [routerLink]="['/data/datacapture/upload/transform']">
                <i nz-icon nzType="sliders"></i>
                <span>Transform</span>
              </li>
              <li nz-menu-item [nzSelected]="isPrimaryPage('mapping')" [routerLink]="['/data/datacapture/upload/mapping']">
                <i nz-icon nzType="arrows-alt"></i>
                <span>Mapping</span>
              </li>
              <li nz-menu-item [nzSelected]="isPrimaryPage('cleansing')"
                [routerLink]="['/data/datacapture/upload/cleansing']">
                <i nz-icon nzType="monitor"></i>
                <span>Cleansing</span>
              </li>
              <li nz-menu-item [nzSelected]="isPrimaryPage('uploading')"
                [routerLink]="['/data/datacapture/upload/uploading']">
                <i nz-icon nzType="upload"></i>
                <span>Upload</span>
              </li>
            </ul>
          </li>

          <li *ngIf="url_data" nz-submenu nzIcon="database" nzTitle="Database console" [nzOpen]="false" (click)="openmydata()" style="margin-left: auto;">
          </li>

        </ul>
      </nz-header>
    </ng-container>

    <!-- Content -->
    <nz-layout class="inner-layout">
      <nz-breadcrumb>
        <nz-breadcrumb-item *ngFor="let item of pageList; let i = index">
          <a [routerLink]="[getLinkByIndex(i)]">
            <i nz-icon [nzType]="matchNameWithIcons(item)"></i>
            <span *ngIf="item != 'home'">{{item | titlecase}}</span>
          </a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
