<ng-template #extraTemplate>
  <div class="button-spacing ghost">
    <button nzShape='circle' nz-button (click)='onEdit()'><i nz-icon nzType="edit"></i></button>
    <nz-divider nzType='vertical'></nz-divider>
    <button nzShape='circle' nz-button (click)='onDelete()'><i nz-icon nzType="delete"></i></button>
  </div>
</ng-template>
<ng-template #titleTemplate>
  <div class="flex start wrap">

    <h4>
      <nz-avatar *ngIf='!small' [nzSize]="42" nzIcon="appstore" style="background-color:#dd551f;"></nz-avatar>
      <i nz-icon *ngIf='small' style="color: #dd551f;" nzType='appstore'></i>
      {{data?.code}}
    </h4>
  </div>
</ng-template>

<ng-template #clockTemplate><i nz-icon nzType="clock-circle"></i></ng-template>
<ng-template #editedTemplate><i nz-icon nzType="edit"></i></ng-template>

<nz-card [ngClass]='class' [nzExtra]="extraTemplate" [nzTitle]='titleTemplate' [nzLoading]='loading'
  [nzSize]='s.displaySize$ | async'>
  <app-meta *ngIf='!small' [data]='data'></app-meta>

  <button nz-button nzType="default" (click)="navigate(['/datacapture/admin/dictionaries', data.id, 'category'])"><i
      nz-icon nzType="font-size" nzTheme="outline"></i>Keywords</button>
</nz-card>
