/* You can add global styles to this file, and also import other style files */

@import 'assets/css/modal.css';
@import 'assets/css/button.css';
@import 'assets/css/flex.css';
@import 'assets/css/drawer.css';
@import 'assets/css/input.css';
@import 'assets/css/card.css';
@import 'assets/css/compact.css';


/* @import 'assets/css/grid-alpine.css'; */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
/* @import "ag-grid-community/dist/styles/ag-theme-fresh.css"; */


.driver{
    margin: 5px 0 5px 0 !important; 
}
.flex-box {
    flex: 1 1 auto;
}

html,
body{
    font-family: 'Poppins', Helvetica, sans-serif !important;
}