/* You can add global styles to this file, and also import other style files */

@import 'assets/css/modal.css';
@import 'assets/css/button.css';
@import 'assets/css/flex.css';
@import 'assets/css/drawer.css';
@import 'assets/css/input.css';
@import 'assets/css/card.css';
@import 'assets/css/compact.css';
@import 'assets/css/grid.css';
@import 'assets/css/bootstrap.css';


/* @import 'assets/css/grid-alpine.css'; */
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";
/* @import "ag-grid-community/dist/styles/ag-theme-fresh.css"; */


.ant-typography kbd {
    margin: 0 .2em;
    padding: .15em .4em .1em;
    font-size: 90%;
    background: hsla(0,0%,58.8%,.06);
    border: solid hsla(0,0%,39.2%,.2);
    border-width: 1px 1px 2px;
    border-radius: 3px;
    color: rgba(0,0,0,.85);
    overflow-wrap: break-word;
}