.manual-editor-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
}

.manual-editor-grid .grid-block{
    display: block;
    grid-column: span 3;
}
.manual-editor-grid .sheet-selector-block{
    grid-column: span 3;
}
.manual-editor-grid .transform-block{
    /* border: 1px solid grey; */
}

.nz-empty{
  margin-top: 9em;
}


::ng-deep .manual-editor-grid .ag-root{
    border: 0;
}
::ng-deep .manual-editor-grid .ag-status-bar{
    display: none;
}

::ng-deep .manual-editor-grid .ant-card-bordered{
    border: 0;
}

::ng-deep .manual-editor-grid nz-tabset.editor-block .ant-tabs-bar {
    margin: 0;
}

.manual-editor-grid .editor-block{
    background: white;
}