<div class="button-spacing flex start">
    <button nz-button (click)='editor.addNode(null)'>Add Node</button>


<nz-input-group nzCompact>
    <nz-select [(ngModel)]="source">
        <nz-option *ngFor='let n of editor.nodes' [nzLabel]="n.label" [nzValue]="n.id"></nz-option>
    </nz-select>
    <nz-select [(ngModel)]="target">
        <nz-option *ngFor='let n of editor.nodes' [nzLabel]="n.label" [nzValue]="n.id"></nz-option>
    </nz-select>
    <button nz-button (click)='editor.connectNodes(source, target)'>Connect</button>
  </nz-input-group>

</div>