<form nz-form [nzLayout]="'horizontal'">
    <nz-form-item>
      <nz-form-label [nzSm]="8">Destination</nz-form-label>
      <nz-form-control [nzSm]="16">
        <input nz-input [nzSize]='size'  [(ngModel)]='data.destination' (change)='onDataChanged()' name='destination'/>
          <!-- <app-columns-input [nzSize]='size' [nodeIndex]='index' [(ngModel)]='data.destination' name='destination' (change)='onDataChanged()'></app-columns-input> -->
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzBlock (click)='openFormula()'><i nz-icon nzType='calculator'></i> Open Editor</button>
</form>
