::ng-deep .error-cell {
  color: #f5222d;
  background: #fff1f0;
  border-color: #ffa39e !important;
  font-weight: 600;
  border-radius: 0.25rem;
}

::ng-deep .valid-cell {
  /* font-weight: 700; */
  color: #608b50;
  border-color: #608b50 !important;
  background-color: #edf5eb;
  font-weight: 600;
  border-radius: 0.25rem;
  /* border-left: 2px solid #608b50 !important; */
  /* color: white; */
}

::ng-deep .edited-cell {
  border-style: dashed;
  /* border-color: #ffbfbf !important; */
}

::ng-deep .warning-cell {
  background-color: #f0a878;
}

::ng-deep .index-cell {
  background-color: #f0f0f0 !important;
}

:host{
  display: contents;
}
