.ui-table-input {
  margin: 0;
  padding: 0;
  border: 0;
  background: rgba(255, 0, 0, 0) !important;
}

/* mei2 */
input {
  height: 40px;
  outline: none;
}
.ag-header-cell-label .ag-header-cell-text {
  /*Force the width corresponding at how much width
  we need once the text is laid out vertically*/
  text-align: center;
  float: center;
  font-family: initial;
  font-size: 25px;
}
.ag-pivot-off .ag-header-group-cell {
  text-align: center;
  font-family: initial;
  font-size: 25px;
}
/* mei2 */

::ng-deep .ui-table-scrollable-wrapper {
  height: 100% !important;
}

::ng-deep .ui-table-scrollable-view {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

::ng-deep .ui-table-scrollable-body {
  flex: 1 1 0 !important;
}

::ng-deep .ui-table {
  height: 100% !important;
  display: flex;
  flex-direction: column;
}

::ng-deep .header-align {
  text-align: left;
  margin-left: 10px !important;
}

::ng-deep td.ng-star-inserted {
  min-width: 200px !important;
}

::ng-deep th.ui-resizable-column.ng-star-inserted {
  min-width: 200px !important;
}
