<ag-grid-angular #agGrid
  class="ag-theme-balham"
  style="width: 100%; height: 100%;"
  [rowStyle] = "{background: 'white'}"
  [rowData]="rowData"
  [modules]="modules"
  [columnDefs]="columnDefs"
  [animateRows]="true"
  [rowModelType]="'serverSide'"
  [defaultColDef]="defaultColDef"
  [cacheBlockSize]="paginationPageSize"
  [enterMovesDown]="true"
  [maxBlocksInCache]="10"
  [suppressMenuHide]="true"
  [enableCellChangeFlash]="true"
  [enterMovesDownAfterEdit]="true"
  [stopEditingWhenGridLosesFocus]="true"
  [frameworkComponents]="frameworkComponents"
  (cellValueChanged)="cellValueChanged.emit($event)"
  (gridReady)="gridReady.emit($event)">
</ag-grid-angular>
<!-- [blockLoadDebounceMillis]="100" -->
  <!-- [fillOperation]="fillOperation" -->
  <!-- [enableRangeSelection]="true"
  [enableFillHandle]="true" -->
