::ng-deep .error-cell {
  color: #db4f5f;
  /* font-weight: 700; */
  background-color: #f5efef;
  /* border-color: #ffbfbf !important; */
  /* border-left: 2px solid #db4f5f !important; */
}

::ng-deep .valid-cell {
  /* font-weight: 700; */
  color: #608b50;
  background-color: #edf5eb;
  /* border-left: 2px solid #608b50 !important; */
  /* color: white; */
}

::ng-deep .edited-cell {
  border-style: dashed;
  /* border-color: #ffbfbf !important; */
}

::ng-deep .warning-cell {
  background-color: #f0a878;
}

::ng-deep .index-cell {
  background-color: #f0f0f0 !important;
}

:host {
  display: contents;
}

::ng-deep .corr-valid-cell {
  color: #2e8d11;
  background-color: #c9f3be;
}

::ng-deep .corr-error-cell {
  color: #db4f5f;
  background-color: #f3bebe;
}

::ng-deep .corr-warning-cell {
  color: #8a9220;
  background-color: #ebf3be;
}
