<div class="flex between w-100">
    <app-sheet-selector></app-sheet-selector>
    <div class="flex end">
      <app-shortcuts-list [shortcuts]='(hotkeys.registeredHostkeys$ | async) | hotkeysFilter: (controlPressed | async) : (shiftPressed | async) : (altPressed | async)'></app-shortcuts-list>
      <nz-divider nzType='vertical'></nz-divider>
      <div>
        <small nz-typography nzType='secondary'><span>Help</span></small>
        <span nz-typography><kbd><span *ngIf='hold'>(Hold)</span> {{hotkey}}</kbd></span>
      </div>
    </div>
  </div>
